<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2013/style.css' %}" />
<title>Team {{ teamNumber }}</title>
</head>


<body>

{% include "Scouting2013/banner.html" %}

Team {{ teamNumber }} Stats
<br>
<br>
<br>

<h1>Matches Scouted:</h1>

{% if match_list|length == 0 %}
No matches scouted
{% else %}
  <ul>
  {% for match in match_list %}
     <li><a href="/2013/match/{{match.id}}">{{match.matchNumber}}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if match_list|length != 0 %}
<h1>Metrics:</h1>
<table>
    <tr> <td> Avg. Auton Score      </td>  <td> {{ metrics.auton_score__avg      }} </td> </tr>
    <tr> <td> Avg. Pyramid Goals    </td>  <td> {{ metrics.pyramid_goals__avg    }} </td> </tr>
    <tr> <td> Avg. High Goals       </td>  <td> {{ metrics.high_goals__avg       }} </td> </tr>
    <tr> <td> Avg. Mid Goals        </td>  <td> {{ metrics.mid_goals__avg        }} </td> </tr>
    <tr> <td> Avg. Low Goals        </td>  <td> {{ metrics.low_goals__avg        }} </td> </tr>
    <tr> <td> Avg. Missed Shots     </td>  <td> {{ metrics.missed_shots__avg     }} </td> </tr>
    <tr> <td> Avg. Hanging Points   </td>  <td> {{ metrics.hanging_points__avg   }} </td> </tr>
    <tr> <td> Avg. Fouls            </td>  <td> {{ metrics.fouls__avg            }} </td> </tr>
    <tr> <td> Avg. Tech Fouls       </td>  <td> {{ metrics.technical_fouls__avg  }} </td> </tr>
    <tr> <td> Total Invalid Hangs   </td>  <td> {{ metrics.invalid_hangs__sum    }} </td> </tr>
    <tr> <td> Total Yellow Card     </td>  <td> {{ metrics.yellow_card__sum      }} </td> </tr>
    <tr> <td> Total Red Card        </td>  <td> {{ metrics.red_card__sum         }} </td> </tr>
    <tr> <td> Times Broken Badly    </td>  <td> {{ metrics.broke_badly__sum      }} </td> </tr>
</table>
{% endif %}

</body>
</html>