{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Home - Arctic Warriors Scouting</title>
    <style>
        h1 {
            text-align: center;
        }
        
        h2 {
            text-align: center;
        }
    </style>
{% endblock head %}

{% block content %}
    <h1> WELCOME TO TEAM 174 SCOUTING WEBSITE </h1>
    <h2> For the {{ competition.name }} Competition</h2>
    
    {% block upcoming_match %}

    {% if our_next_match_prediction != None %}
<div class="panel panel-default">
    <div class="panel-heading" style="overflow:auto;">
        <h2>Next Match - <a href="{% url request.resolver_match.namespace|add:':match_prediction' regional_code our_next_match_prediction.matchNumber %}">{{ our_next_match_prediction.matchNumber }}</a></h2>
    </div>
    
    <div style="overflow-x: auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Red</th>
                    <th>Blue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Teams</th>
                    <td class="red_alliance">
                        <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code our_next_match_prediction.red_prediction.team1.team_number %}"> {{ our_next_match_prediction.red_prediction.team1.team_number }} </a> <br>
                        <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code our_next_match_prediction.red_prediction.team2.team_number %}"> {{ our_next_match_prediction.red_prediction.team2.team_number }} </a> <br>
                        <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code our_next_match_prediction.red_prediction.team3.team_number %}"> {{ our_next_match_prediction.red_prediction.team3.team_number }} </a> <br>
                    </td>
                    <td class="blue_alliance">
                        <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code our_next_match_prediction.blue_prediction.team1.team_number %}"> {{ our_next_match_prediction.blue_prediction.team1.team_number }} </a> <br>
                        <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code our_next_match_prediction.blue_prediction.team1.team_number %}"> {{ our_next_match_prediction.blue_prediction.team2.team_number }} </a> <br>
                        <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code our_next_match_prediction.blue_prediction.team1.team_number %}"> {{ our_next_match_prediction.blue_prediction.team3.team_number }} </a> <br>
                    </td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td class="red_alliance">{{our_next_match_prediction.red_prediction.averages.total_score|floatformat:2}}</td>
                    <td class="blue_alliance">{{our_next_match_prediction.blue_prediction.averages.total_score|floatformat:2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    
</div>
    {% endblock upcoming_match %}

    {% block metrics %}
        <div id="metrics">
            {% if our_metrics != None %}
                <h3>Our Metrics</h3>
                <table>
                    {% for metrics in our_metrics %}
                    <th>{{ metrics.0 }}:&nbsp;</th><td>{{ metrics.1 }}</td>
                    {% endfor %}
                </table>
            {% endif %}

            {% if competition_metrics != None %}
                {% for metrics_pair in competition_metrics %}    
                <h3>Top teams for {{ metrics_pair.0 }}</h3>
                <table>
                    {% for result_pair in metrics_pair.1 %}
                    <tr>
                        <td><a href="{% url request.resolver_match.namespace|add:':view_team' regional_code result_pair.0 %}">Team {{ result_pair.0 }}</a>:&nbsp;</td>
                        <td>{{ result_pair.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            {% endif %}
        </div>
    {% endblock metrics %}

{% endblock content %} 