{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Match List - Arctic Warriors Scouting</title>
    <style>
        td {
            text-align: center;
        }
        th {
            text-align: center;
        }
        .match-error-level {
            background-color: black;
        }
        .match-error-level0 {
            background-color: green;
        }
        .match-error-level1 {
            background-color: yellow;
        }
        .match-error-level2 {
            background-color: red;
        }
        
        .red_alliance {
            background-color: #e21231;
            text-align: center;
        }
        
        .red_alliance a {
            color: white;
        }
        
        .blue_alliance {
            text-align: center;
            background-color: blue;
        }
        
        .blue_alliance a {
            color: white;
            text-align: center
        }
    </style>
{% endblock head%}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading" style="overflow:auto;">
            <h2>Scouted Matches</h2>
        </div>
        <div style="overflow-x: auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Match Number</th>
                        <th>Valid Data</th>
                        <th colspan='3' >Red Alliance</th>
                        <th colspan='3' >Blue Alliance</th>
                        <th>Red Score</th>
                        <th>Blue Score</th>
                    </tr>
                </thead>
                {% for match in scouted_matches %}
                <tbody>
                    <tr>
                        <td> <a href="{% url request.resolver_match.namespace|add:':view_match' regional_code match.matchNumber %}">{{match.matchNumber}}</a></td>
                        <td class="match-error-level{{ match.match_error_level }}">{%if match.match_error_level == None %} UPDATE VIEW!!! {%else%}{%if match.match_error_level != 0 %}{{match.match_error_warning_messages|length }} Warning, {{match.match_error_error_messages|length }} Errors{% endif %}{% endif %}</td>
                        <td class="red_alliance" {% if match.winning_alliance  == "Red" %} style='font-weight: bold; font-style: italic;'{% endif %}> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.red1.teamNumber %}"> {{ match.red1.teamNumber }} </td>
                        <td class="red_alliance" {% if match.winning_alliance  == "Red" %} style='font-weight: bold; font-style: italic;'{% endif %}> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.red2.teamNumber %}"> {{ match.red2.teamNumber }} </td>
                        <td class="red_alliance" {% if match.winning_alliance  == "Red" %} style='font-weight: bold; font-style: italic;'{% endif %}> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.red3.teamNumber %}"> {{ match.red3.teamNumber }} </td>
                        <td class="blue_alliance" {% if match.winning_alliance  == "Blue" %} style='font-weight: bold; font-style: italic;'{% endif %}> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.blue1.teamNumber %}"> {{ match.blue1.teamNumber }} </td>
                        <td class="blue_alliance" {% if match.winning_alliance  == "Blue" %} style='font-weight: bold; font-style: italic;'{% endif %}> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.blue2.teamNumber %}"> {{ match.blue2.teamNumber }} </td>
                        <td class="blue_alliance" {% if match.winning_alliance  == "Blue" %} style='font-weight: bold; font-style: italic;'{% endif %}> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.blue3.teamNumber %}"> {{ match.blue3.teamNumber }} </td>
                        
                        <td {% if match.winning_alliance  == "Red" %} style='font-weight: bold; font-style: italic;'{% endif %}> {{ match.redScore }} </td>
                        <td {% if match.winning_alliance  == "Blue" %} style='font-weight: bold; font-style: italic;'{% endif %}> {{ match.blueScore }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
	        </table>
        </div>
    
    </div>
 
    <div class="panel panel-default">
        <div class="panel-heading" style="overflow:auto;">
            <h2>Unscouted Matches</h2>
        </div>
        <div style="overflow-x: auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Match Number</th>
                        <th>Is Prediction</th>
                        <th colspan='3'>Red Alliance</th>
                        <th colspan='3'>Blue Alliance</th>
                        <th>Red Score</th>
                        <th>Blue Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in unscouted_matches %}
                    <tr>
                        <td> <a href="{% url request.resolver_match.namespace|add:':match_prediction' regional_code match.matchNumber %}">{{ match.matchNumber }} </a></td>
                        <td> {% if match.isPrediction %} Yes {% else %} No {% endif %} </a></td>
                        <td class="red_alliance"> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.red1.teamNumber %}"> {{ match.red1.teamNumber }} </a></td>
                        <td class="red_alliance"> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.red2.teamNumber %}"> {{ match.red2.teamNumber }} </a></td>
                        <td class="red_alliance"> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.red3.teamNumber %}"> {{ match.red3.teamNumber }} </a></td>
                        <td class="blue_alliance"> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.blue1.teamNumber %}"> {{ match.blue1.teamNumber }} </a></td>
                        <td class="blue_alliance"> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.blue2.teamNumber %}"> {{ match.blue2.teamNumber }} </a></td>
                        <td class="blue_alliance"> <a href="{% url request.resolver_match.namespace|add:':view_team' regional_code match.blue3.teamNumber %}"> {{ match.blue3.teamNumber }} </a></td>
                        <td> {{ match.redScore }} </td>
                        <td> {{ match.blueScore }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
  
            </table>
        </div>
    </div>
{% endblock content %}