{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Match {{ match.matchNumber }} - Arctic Warriors Scouting</title>
    <style>
        h2, table {
            text-align: center;
        }
    </style>
    
<style>

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    color: white;
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    font-size: 36px;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

</style>
    
<script>

dirty = false

$(window).on('beforeunload', function (e) 
{
    if(dirty)
    {
        return "Unsaved Changes";
    }
});

function showOfficialMatchValidationLoadingOverlay()
{
    document.getElementById("myNav").style.height = "100%";
}

function removeOfficialMatchValidationLoadingOverlay()
{
    document.getElementById("myNav").style.height = "0%";
}

function updateValidationTable(jsonData)
{
	validation_table = $("#official_match_validation")
	
	warning_message = jsonData["warning_messages"]
	error_messages = jsonData["error_messages"]
	
	if(warning_message.length == 0 && error_messages.length == 0)
	{
		 $("#warning_banner").attr("style", "color:green;")
		 $("#warning_banner").html("Match data is consistent with official results")
		validation_table.hide()
	}
	else
	{
		 $("#warning_banner").attr("style", "color:red;")
		 $("#warning_banner").html("Warning: This match has inconsistent results with the official results")
		validation_table.show()
		 
		validation_table.find("tr:gt(0)").remove();
		$.each(warning_message, function() {
			console.log($(this))
			$('#official_match_validation tbody').append(
					"<tr>" + 
					"<td style='background-color: yellow'>" + $(this)[0] + "</td>" + 
					"<td style='background-color: yellow'>" + $(this)[1] + "</td>" + 
					"<td style='background-color: yellow'>" + $(this)[2] + "</td>" + 
					"</tr>");
		});
		
		$.each(error_messages, function() {
			console.log($(this))
			$('#official_match_validation tbody').append(
					"<tr>" + 
					"<td style='background-color: red'>" + $(this)[0] + "</td>" + 
					"<td style='background-color: red'>" + $(this)[1] + "</td>" + 
					"<td style='background-color: red'>" + $(this)[2] + "</td>" + 
					"</tr>");
		});
	}
	console.log(JSON.stringify(jsonData))
}

function saveEdits(e){ 
    console.log("Saving edits");
    
    showOfficialMatchValidationLoadingOverlay();
    
    $("#save_edit_mode").hide();
    $("#enter_edit_mode").show();

    $('[id^="edit"]').each(function() {
    	$(this).removeAttr("style")
    	$(this).removeAttr("contenteditable")
    });
    
    data = {}
    data['csrfmiddlewaretoken'] = '{{ csrf_token}}';
    data['match_number'] = {{ match.matchNumber }}

    $('[id^="edit"]').each(function() {
        key = $(this).attr("id")
        val = $(this).html()
        data[key] = val
    });

    $.ajax(
    {
        type: "POST",
        url: "{% url 'Scouting2017:submit_match_edit' regional_code %}",
        data: data,
        success: function(msg) 
        {
            removeOfficialMatchValidationLoadingOverlay();
            if(!msg["success"])
           	{
                alert("Failed to submit pit scouting")
                
                // TODO temp
                // dirty = false;
           	}
            else
            {
            	updateValidationTable(msg["official_match_validation"])
                dirty = false;
            }
        }
    });
}

function isNumeric(n)
{
    return !isNaN(parseFloat(n));
}

function enterEditMode(e){ 
    console.log("Entering edit mode");

    $("#save_edit_mode").show();
    $("#enter_edit_mode").hide();
    
    var original_contents = {}

    // Search for all ID's starting with "edit", loop over them, make them editable
    $('[id^="edit"]').each(function() {
        $(this).attr("contenteditable", "true");
        $(this).attr("style", "border-style: dotted;");
        //$(this).attr("onfocus", "document.execCommand('selectAll',false,null)");
        $(this).attr("onclick", "document.execCommand('selectAll',false,null)");
        orig_key = $(this).attr("id")
        orig_val = $(this).html()
        original_contents[orig_key] = {"value": orig_val, "validator": null};
        
        {% block field_validation_setter %}
        if(isNumeric(orig_val))
        {
            console.log(orig_key + " is a number");
            original_contents[orig_key]["validator"] = isNumeric;
        }
        {% endblock field_validation_setter %}
        
        $(this).blur(function() {

            validator = original_contents[$(this).attr("id")]["validator"]
            old_text = original_contents[$(this).attr("id")]["value"]
            new_text = $(this).html()
            
            if(validator != null && !validator(new_text))
            {
                $(this).html(old_text)
                alert("Error occured parsing field " + orig_key);
                console.log('INVALID CHANGE TO ' + orig_key + ': ' + old_text + ", " + new_text);
            }
            
            else if (old_text != new_text)
            {
                console.log('Detected change on ' + orig_key + ': ' + dirty + ", " + old_text + ", " + new_text);
                dirty = true;
            }
        });
    });
}

// TODO Debugging
// window.onload = enterEditMode;
</script>
{% endblock head %}

{% block content %}

    <div id="myNav" class="overlay">
      <div class="overlay-content">
        Recalculating official results...
      </div>
    </div>


    <div id="official_match" align=center>
    {% if has_official_data %}
        {% if official_result_warnings|length != 0 or official_result_errors|length != 0 %}
        <h1 id="warning_banner" style='color: red;'> Warning: This match has inconsistent results with the official results</h1>
        {% else %}
        <h1 id="warning_banner" style='color: green;'> Match data is consistent with official results</h1>
        {% endif %}
        <table id="official_match_validation" border=1 {% if official_result_warnings|length == 0 and official_result_errors|length == 0 %} style="display: none;"{% endif %}>
            <thead>
                <tr>
                    <th> Field </th>
                    <th> Expected </th>
                    <th> Actual </th>
                </tr>
            </thead>
            <tbody>
        {% if official_result_warnings|length != 0 or official_result_errors|length != 0 %}
                {% for result_tuple in official_result_warnings %}
                <tr>
                    <td style='background-color: yellow'> {{ result_tuple.0 }} </td>
                    <td style='background-color: yellow'> {{ result_tuple.1 }} </td>
                    <td style='background-color: yellow'> {{ result_tuple.2 }} </td>
                </tr>
                {% endfor %}
                {% for result_tuple in official_result_errors %}
                <tr>
                    <td style='background-color: red'> {{ result_tuple.0 }} </td>
                    <td style='background-color: red'> {{ result_tuple.1 }} </td>
                    <td style='background-color: red'> {{ result_tuple.2 }} </td>
                </tr>
                {% endfor %}
        {% endif %}
            </tbody>
        </table>
        </center>
    {% else %}
        <center>
            <h1> Warning: No official results available. Data from this match cannot be verified. </h1>
        </center>
    {% endif %}
    </div>
    
    <h3><a href='https://www.thebluealliance.com/match/{{tba_code}}_qm{{ match.matchNumber }}' target="_blank">TBA Results</a></h3>

{% if perms.auth.ModifyScoreResult %}
    <button id="enter_edit_mode" onclick="enterEditMode();">Enter Edit Mode</button>
    <button id="save_edit_mode" onclick="saveEdits();" hidden=true>Save Edit Mode</button>
{% endif %}

    <h1>Match {{ match.matchNumber }}</h1>
    {% block stats %}{% endblock stats %}

{% endblock content %}