{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Match {{ match_number }} - Arctic Warriors Scouting</title>
{% endblock head %}

{% block content %}
    <table border="1">
      <tr><th scope="row">Red Prediction</th><td>{{ results.red_results.predict }}</td></tr>
      <tr><th scope="row">Blue Prediction</th><td>{{ results.blue_results.predict  }}</td></tr>
    </table>

    <h1> Prediction for Match {{match_number}}</h1>
    <h2><u>Red Alliance</u></h2>
    <ul>
        <li><a href="{% url request.resolver_match.namespace|add:':view_team' results.red_results.team1.teamNumber %}">{{ results.red_results.team1.teamNumber }}</a></li>
        <li><a href="{% url request.resolver_match.namespace|add:':view_team' results.red_results.team1.teamNumber %}">{{ results.red_results.team2.teamNumber }}</a></li>
        <li><a href="{% url request.resolver_match.namespace|add:':view_team' results.red_results.team1.teamNumber %}">{{ results.red_results.team3.teamNumber }}</a></li>
    </ul>
    <br>
    {% block red_stats %}{% endblock red_stats %}
    <br>
    
    <h2><u> Blue Alliance</u></h2>
    <ul>
        <li><a href="{% url request.resolver_match.namespace|add:':view_team' results.blue_results.team1.teamNumber %}">{{ results.blue_results.team1.teamNumber }}</a></li>
        <li><a href="{% url request.resolver_match.namespace|add:':view_team' results.blue_results.team2.teamNumber %}">{{ results.blue_results.team2.teamNumber }}</a></li>
        <li><a href="{% url request.resolver_match.namespace|add:':view_team' results.blue_results.team3.teamNumber %}">{{ results.blue_results.team3.teamNumber }}</a></li>
    </ul>
    <br>
    {% block blue_stats %}{% endblock blue_stats %}
{% endblock content %}

