{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Team {{ team.teamNumber }} - Arctic Warriors Scouting</title>
    <style>
	    table, th {
            text-align: center;
	    }
	</style>
{% endblock head %}

{% block content %}
    <h1>Team {{ team.teamNumber }}</h1>
    Team Website: <a href="{{team.homepage}}" target="_blank">{{team.homepage}}</a><br>

    <h1>Matches Information:</h1>

    {% if score_result_list|length == 0 %}
        No matches scouted
    {% else %}
        <h2>Matches Scouted:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Match</th> 
                    <th>Win vs. Loss</th> 
                    <th>Team Mates</th> 
                    <th>Opponents</th>
                </tr>
            </thead>
            <tbody>
                {% for sr in score_result_list %}
                <tr>
                    <td><a href="{% url request.resolver_match.namespace|add:':view_match' regional_code sr.match.matchNumber %}">{{ sr.match.matchNumber }}</a>{%if sr.notes_text_area != "" %} {{sr.notes_text_area}}{% endif %}
                   </td> 
                    <td>Yes/No</td> 
                    <td>
                        <p>1234</p>
                        <p>1234</p>
                    </td>
                    <td>
                    	<p>345</p>
                    	<p>345</p>
                        <p>345</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

            {% for sr in score_result_list %}
            
            {% endfor %}

    {% endif %}
     	
    <h2>Pictures</h2>
    
    {#% if "auth.can_add_pictures" in perms %#}
        <form action="{% url request.resolver_match.namespace|add:':upload_image' regional_code %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name='team_number' value={{team.teamNumber}}>
            <input type="file" name='image_name' accept="image/*">
            <input type="submit">
        </form>
    {#% endif %#}

    {% if pictures|length != 0 %}
        {% for picture in pictures %}
        <a href="{% static picture.path %}"><img src="{% static picture.path %}" width='100'></a>
        {% endfor %}
    {% else %}
        No pictures available
    {% endif %}
    


    {% if "auth.can_add_pictures" in perms %}
        <form action="{% url request.resolver_match.namespace|add:':add_team_comments' regional_code team.teamNumber %}" method="POST">
        {% csrf_token %}
            <textarea rows="8" cols="75" wrap="soft" name="team_comments" placeholder="Add Team Comments"></textarea>
            <br><br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
 
    <h1>Robot Statistics</h1>
    
    {% block robot_stats %}{% endblock robot_stats %}
    
    
{% block fouls %}
	<div class ="row">
		
		<div class ="col-md-6"></div>
		<div class ="col-md-6">
		<h2>Fouls</h2>
			<table class="table">
				<tbody>
					<tr>
						<th scope="row">Foul</th>
						<td>#</td>
					</tr>
					<tr>
						<th scope="row">Tech Foul</th>
						<td>#</td>
					<tr>
						<th scope="row">Yellow Card</th>
						<td>Yes/No?</td>
					</tr>
					<tr>
						<th scope="row">Red Card</th>
						<td>Yes/No?</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	{% endblock fouls %}
    {# ORIGINAL: Tech fouls: {{metrics.score_tech_foul__sum}} #}
 <h2>Comments</h2>
    {% if team_comments|length != 0 %}
        Team Comments
        <ul>
            {% for comment in team_comments %}
            <li>{{comment.comment}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block pit_scouting %}
    {% endblock pit_scouting %}

{% endblock content %}