<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2011/style.css' %}" />
<title>Welcome!</title>
</head>

<body>

	{% include "Scouting2011/banner.html" %}
	

{% if graph_url != "" %}
<img src="{{graph_url}}" />
{% endif %}
	
	
	<form action="{% url 'Scouting2011:show_graph' %}" method="get">
	<h2>Teams to graph</h2>
	<ul>
	 {% for team in teams %}
		<li><input type="checkbox" name="{{ team.teamNumber }}"  {% if team.teamNumber in selected_teams_list %} checked {% endif %}>Team {{ team.teamNumber }} </li>
	{% endfor %}
	</ul>
	<h2>Statistics to graph</h2>
 {{ selected_field_list }}
	<ul>
	<li> <input type="checkbox" name="TubesDropped"    {% if 'TubesDropped'     in selected_fields_list %} checked {% endif %} > TubesDropped    </li>
	<li> <input type="checkbox" name="LowTubesHung"    {% if 'LowTubesHung'     in selected_fields_list %} checked {% endif %} > LowTubesHung    </li>
	<li> <input type="checkbox" name="MidTubesHung"    {% if 'MidTubesHung'     in selected_fields_list %} checked {% endif %} > MidTubesHung    </li>
	<li> <input type="checkbox" name="HighTubesHung"   {% if 'HighTubesHung'    in selected_fields_list %} checked {% endif %} > HighTubesHung   </li>
	<li> <input type="checkbox" name="TubesRecieved"   {% if 'TubesRecieved'    in selected_fields_list %} checked {% endif %} > TubesRecieved   </li>
	<li> <input type="checkbox" name="Penelties"       {% if 'Penelties'        in selected_fields_list %} checked {% endif %} > Penelties       </li>
	<li> <input type="checkbox" name="MiniBotFinish"   {% if 'MiniBotFinish'    in selected_fields_list %} checked {% endif %} > MiniBotFinish   </li>
	<li> <input type="checkbox" name="DeployedMinibot" {% if 'DeployedMinibot'  in selected_fields_list %} checked {% endif %} > DeployedMinibot </li>
	<li> <input type="checkbox" name="ScoredUberTube"  {% if 'ScoredUberTube '  in selected_fields_list %} checked {% endif %} > ScoredUberTube  </li>
	<li> <input type="checkbox" name="WasOffensive"    {% if 'WasOffensive'     in selected_fields_list %} checked {% endif %} > WasOffensive    </li>
	<li> <input type="checkbox" name="WasScouted"      {% if 'WasScouted'       in selected_fields_list %} checked {% endif %} > WasScouted      </li>
	<li> <input type="checkbox" name="BrokeBadly"      {% if 'BrokeBadly'       in selected_fields_list %} checked {% endif %} > BrokeBadly      </li>
	<li> <input type="checkbox" name="Comments"        {% if 'Comments'         in selected_fields_list %} checked {% endif %} > Comments        </li>
	</ul>
	<br> </br>
	<input type="submit" value="Submit">
	</form>
</body>
</html>