<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2011/style.css' %}" />
<title>Match</title>
</head>

{% include "Scouting2011/banner.html" %}

<body>

<h1>Match {{ matchNumber }}</h1>
{{ teams}}


{% for sr in results %}
<h2><a href="/2011/teams/{{sr.team.id}}">Team {{sr.team.teamNumber}}</a></h2>


<table>
    <tr> <td> TubesDropped     </td>  <td> {{ sr.TubesDropped     }}  </td> </tr>
    <tr> <td> LowTubesHung     </td>  <td> {{ sr.LowTubesHung     }}  </td> </tr>
    <tr> <td> MidTubesHung     </td>  <td> {{ sr.MidTubesHung     }}  </td> </tr>
    <tr> <td> HighTubesHung    </td>  <td> {{ sr.HighTubesHung    }}  </td> </tr>
    <tr> <td> TubesRecieved    </td>  <td> {{ sr.TubesRecieved    }}  </td> </tr>
    <tr> <td> Penelties        </td>  <td> {{ sr.Penelties        }}  </td> </tr>
    <tr> <td> MiniBotFinish    </td>  <td> {{ sr.MiniBotFinish    }}  </td> </tr>
    <tr> <td> ScoredUberTube   </td>  <td> {{ sr.ScoredUberTube   }}  </td> </tr>
    <tr> <td> DeployedMinibot  </td>  <td> {{ sr.DeployedMinibot  }}  </td> </tr>
    <tr> <td> WasOffensive     </td>  <td> {{ sr.WasOffensive     }}  </td> </tr>
    <tr> <td> WasScouted       </td>  <td> {{ sr.WasScouted       }}  </td> </tr>
    <tr> <td> BrokeBadly       </td>  <td> {{ sr.BrokeBadly       }}  </td> </tr>
</table>

{% endfor %}

</body>
</html>