<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2011/style.css' %}" />
<title>Team {{ teamNumber }}</title>
</head>


<body>

{% include "Scouting2011/banner.html" %}

Team {{ teamNumber }} Stats
<br>
<br>
<br>

<h1>Matches Scouted:</h1>

{% if match_list|length == 0 %}
No matches scouted
{% else %}
  <ul>
  {% for match in match_list %}
     <li><a href="/2011/match/{{match.id}}">{{match.matchNumber}}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if match_list|length != 0 %}
<h1>Metrics:</h1>
<table>
    <tr> <td> TubesDropped      </td>  <td> {{ metrics.TubesDropped__avg     }} </td> </tr>
    <tr> <td> LowTubesHung      </td>  <td> {{ metrics.LowTubesHung__avg     }} </td> </tr>
    <tr> <td> MidTubesHung      </td>  <td> {{ metrics.MidTubesHung__avg     }} </td> </tr>
    <tr> <td> HighTubesHung     </td>  <td> {{ metrics.HighTubesHung__avg    }} </td> </tr>
    <tr> <td> TubesRecieved     </td>  <td> {{ metrics.TubesRecieved__avg    }} </td> </tr>
    <tr> <td> Penelties         </td>  <td> {{ metrics.Penelties__avg        }} </td> </tr>
    <tr> <td> MiniBotFinish     </td>  <td> {{ metrics.MiniBotFinish__avg    }} </td> </tr>
    <tr> <td> ScoredUberTube    </td>  <td> {{ metrics.ScoredUberTube__avg   }} </td> </tr>
    <tr> <td> DeployedMinibot   </td>  <td> {{ metrics.DeployedMinibot__sum  }} </td> </tr>
    <tr> <td> WasOffensive      </td>  <td> {{ metrics.WasOffensive__sum     }} </td> </tr>
    <tr> <td> WasScouted        </td>  <td> {{ metrics.WasScouted__sum       }} </td> </tr>
    <tr> <td> BrokeBadly        </td>  <td> {{ metrics.BrokeBadly__sum       }} </td> </tr>

</table>
{% endif %}

</body>
</html>