
<html>
<head>

{% load staticfiles %}
{% include "Scouting2011/standard_header.html" %}
<title>Welcome!</title>
</head>
<style>

</style>

<body>

{% include "Scouting2011/banner.html" %}

<table border="1">
  <tr><td>Red Prediction</td><td>{{ results.red_results.predict }}</td></tr>
  <tr><td>Blue Prediction</td><td>{{ results.blue_results.predict  }}</td></tr>
</table>

<h1> Prediction for Match {{match_number}}</h1>
<h2><u>Red Alliance</u></h2>
<ul>
	<li> <a href="{% url 'Scouting2011:view_team' results.red_results.team1.teamNumber %}">{{ results.red_results.team1.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2011:view_team' results.red_results.team1.teamNumber %}">{{ results.red_results.team2.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2011:view_team' results.red_results.team1.teamNumber %}">{{ results.red_results.team3.teamNumber }} </a></li>
</ul>
<table border="1">
  <tr>
   <th> Category </th>
   <th> Best Defense </th>
   <th> Crossed </th>
   <th> Worst Defense </th>
   <th> Crossed </th>
  </tr>
  {% for category_name, value in results.red_defenses %}
  <tr>
    <td><center>{% if audience_defense == category_name %} <b>{% endif %}{{category_name}}</center></td>
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
  </tr>
  {% endfor %}

</table>
<br>


<h2><u> Blue Alliance</u></h2>
<ul>
 <li> <a href="{% url 'Scouting2011:view_team' results.blue_results.team1.teamNumber %}">{{ results.blue_results.team1.teamNumber }} </a></li>
 <li> <a href="{% url 'Scouting2011:view_team' results.blue_results.team2.teamNumber %}">{{ results.blue_results.team2.teamNumber }} </a></li>
 <li> <a href="{% url 'Scouting2011:view_team' results.blue_results.team3.teamNumber %}">{{ results.blue_results.team3.teamNumber }} </a></li>
</ul>
<br>

<table border="1">
  <tr>
   <th> Category </th>
   <th> Best Defense </th>
   <th> Crossed </th>
   <th> Worst Defense </th>
   <th> Crossed </th>
  </tr>
  {% for category_name, value in results.blue_defenses %}
  <tr>
    <td><center>{% if audience_defense == category_name %} <b>{% endif %}{{category_name}}</center></td>
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
  </tr>
  {% endfor %}
</table>


</body>
</html>
<br>
