{% extends 'BaseScouting/match.html' %}
{% load staticfiles %}
 
 {% block stats %}
 
	<h2>Scoring Stats.</h2>
	<table border="1" class = "sortable">
        <thead>
        	<th>Teams</th>
		{% for team_metrics in metrics.0 %}
			  {% if team_metrics.0 != "teamNumber" %}
		<th>{{team_metrics.0}}</th>
			   {% endif %}
		{% endfor %}
        </thead>
        <tbody>
		{% for metric in metrics %}
		<tr>
			<td><a href="{% url 'Scouting2011:view_team' regional_code  metric.0.1 %}">{{ metric.0.1 }}</a></td>
			{% for metric_type in metric %}
			  {% if metric_type.0 != "teamNumber" %}
			<td>{{metric_type.1}}</td>
			   {% endif %}
		    {% endfor %}
			
			
			
		</tr>
		{% endfor %}
        </tbody>
    </table>
    
<!-- 
 <h1>Match {{ match.matchNumber }}</h1>
	<table border="1" class = "sortable">
	  <tr>
		<th>Team</th>
		{% for team_metrics in metrics.0 %}
			  {% if team_metrics.0 != "teamNumber" %}
		<th>{{team_metrics.0}}</th>
			   {% endif %}
		{% endfor %}
	   </tr>
		
		{% for metric in metrics %}
		<tr>
			<td><a href="{% url 'Scouting2011:view_team' regional_code  metric.0.1 %}">{{ metric.0.1 }}</a></td>
			{% for metric_type in metric %}
			  {% if metric_type.0 != "teamNumber" %}
			<td>{{metric_type.1}}</td>
			   {% endif %}
		    {% endfor %}
			
			
			
		</tr>
		{% endfor %}
	</table>
	<br></br>
	 -->
{% endblock stats %}
