<html>
<head>

{% load staticfiles %}
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<script src="{% static 'Scouting2016/site.js' %}"></script>
<title>Match List</title>
</head>
<style>
table {
	text-align: center;
}
</style>
<body>

{% include "Scouting2016/banner.html" %}
<h2>Scouted Matches</h2>
	<table border="1">
		<tr>
			<th>Match Number</th>
			<th colspan = '6'>Teams in match</th>
		</tr>
		{% for match in scouted_matches %}
		<tr>
          <td> <a href="{% url 'Scouting2016:match_display' match.matchNumber %}">{{ match.matchNumber }}</a></td>
		   {% for sr in match.scoreresult_set.all %}
           <td> <a href="{% url 'Scouting2016:view_team' sr.team.teamNumber %}">{{ sr.team.teamNumber }}</a></td>
		   {% endfor %}
		</tr>
		{% endfor %}
	</table>
 
<h2>UnScouted Matches</h2>

 <table border="1">
  <tr>
   <th>Match Number</th>
   <th>Red 1</th>
   <th>Red 2</th>
   <th>Red 3</th>
   <th>Blue 1</th>
   <th>Blue 2</th>
   <th>Blue 3</th>
  </tr>
  {{ match.redTeam1 }}
  {% for match in unscouted_matches %}
  <tr>
      <td> <a href="{% url 'Scouting2016:match_prediction' match.matchNumber %}">{{ match.matchNumber }} </a></td>
      <td> <a href="{% url 'Scouting2016:view_team' match.redTeam1.teamNumber  %}">{{ match.redTeam1.teamNumber }}             </a></td>
      <td> <a href="{% url 'Scouting2016:view_team' match.redTeam2.teamNumber  %}">{{ match.redTeam2.teamNumber }}             </a></td>
      <td> <a href="{% url 'Scouting2016:view_team' match.redTeam3.teamNumber  %}">{{ match.redTeam3.teamNumber }}             </a></td>
      <td> <a href="{% url 'Scouting2016:view_team' match.blueTeam1.teamNumber %}">{{ match.blueTeam1.teamNumber }}            </a></td>
      <td> <a href="{% url 'Scouting2016:view_team' match.blueTeam2.teamNumber %}">{{ match.blueTeam2.teamNumber }}            </a></td>
      <td> <a href="{% url 'Scouting2016:view_team' match.blueTeam3.teamNumber %}">{{ match.blueTeam3.teamNumber }}            </a></td>
  </tr>
  {% endfor %}
 </table>

</body>
</html>
