<html>
<head>
{% load staticfiles %}
<script src="{% static 'Scouting2016/sorttable.js' %}"></script>
<!-- 
This script is found in 2016/static/scouting2016/sorttable.js
It is capable of sorting any tables which contain
 class = "sortable" 
 This script can be used on the webpage by clicking the table header you'd like to sort
 -->
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<script src="{% static 'Scouting2016/site.js' %}"></script>
<title>Team List</title>
</head>
<style>
h2 {
	text-align: center;
}

table {
	text-align: center;
}
</style>
<body>

	{% include "Scouting2016/banner.html" %}
	<h2>List of All Teams</h2>
	<table border="1" class="sortable">
		<tr>
			<th>Team Number</th>
			<th>Low goal scores</th>
			<th>Low goal misses</th>
			<th>High goal scores</th>
			<th>High goal misses</th>
			<th>Autonomous Low goal</th>
			<th>Autonomous High goal</th>
		</tr>
		{% for team in teams %}
	
		<tr>
        <td> <a href="{% url 'Scouting2016:view_team' team.teamNumber %}">{{ team.teamNumber }}</a></td>
	  	<td> {{ team.avgerages.low_score_successful__avg }} </td>
      	<td> {{ team.avgerages.low_score_fail__avg }} </td>
      	<td> {{ team.avgerages.high_score_successful__avg }} </td>
      	<td> {{ team.avgerages.high_score_fail__avg }} </td>
      	<td> {{ team.avgerages.auto_score_low__avg }} </td>
      	<td> {{ team.avgerages.auto_score_high__avg }} </td>
		</tr>

		{% endfor %}
	</table>

</body>
</html>