<html>
<head>

{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<script src="{% static 'Scouting2016/site.js' %}"></script>
<title>Home</title>
</head>
<style>
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
body {
	text-align: center;
}
ul {
	text-align: center;
}
</style>
<body>


{% include "Scouting2016/banner.html" %}

<div class="container-fluid">
	<h1 class="text-center">
		WELCOME TO
	</h1>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" style="display: block;">
			<img class="img-center" src="{% static 'Scouting2016/174_Logo.jpg' %}"
			width="75%">
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<h1 class="text-center">
		SCOUTWEB
	</h1>
</div>


</body>
</html>