<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Welcome!</title>
</head>

<body>

	{% include "Scouting2016/banner.html" %}

	<form action="{% url 'Scouting2016:show_edit_form' %}" method="get">
		<table>
			<tr>
				<td>Match Number:</td>
				<td><input type="number" name="match_number" value="10"></td>
			</tr>
			<tr>
				<td>Team Number:</td>
				<td><input type="number" name="team_number" value="1765"></td>
			</tr>
		</table>

		<br> <br> <input type="submit" value="Submit">
	</form>
</body>
</html>