<html>
<head>

{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<script src="{% static 'Scouting2016/site.js' %}"></script>
<title>Scouting Form - Edit</title>
</head>

<body>

	{% include "Scouting2016/banner.html" %}
	
	<script>
	function incrementValue(a)
	{
	    var value = parseInt(document.getElementById(a).value, 10);
	    value = isNaN(value) ? 0 : value;
	    value++;
	    document.getElementById(a).value = value;
	}
	function decrementValue(a)
	{
	    var value = parseInt(document.getElementById(a).value, 10);
	    value = isNaN(value) ? 0 : value;
	    value--;
	    document.getElementById(a).value = value;
	}
	</script>

	<form action="{% url 'Scouting2016:show_edit_form' %}" method="get">
		<table>
			<tr>
				<td>Match Number:</td>
				<td> <button type="button" onclick="decrementValue('match_number')">-</button> 
					 <input type="number" id = "match_number" name="match_number" value="1">  
					 <button type="button" onclick="incrementValue('match_number')">+</button> 
				</td>
			</tr>
			<tr>
				<td>Team Number:</td>
				<td><button type="button" onclick="decrementValue('team_number')">-</button>
				<input type="number" id="team_number" name="team_number" value="174">
				<button type="button" onclick="incrementValue('team_number')">+</button>
				</td>
			</tr>
		</table>

		<br> <br> <input type="submit" value="Submit">
	</form>
</body>
</html>