<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css"
	href="{% static 'Scouting2016/style.css' %}" />
<title>Scouting Form</title>
</head>

<body>

	{% include "Scouting2016/banner.html" %} {{ team.teamNumber }}

	<h1>Scouting Form</h1>
	Enter scouting information team by team and submit!
	<br>
	<br>

	<form action= "/2016/submit_form" method="post">
	{% csrf_token %}
		<table>
			<tr>
				<td>Team Number :</td>
				<td><input type="number" name="team_number"></td>
				<td>Match Number:</td>
				<td><input type="number" name="match_number"></td>
			</tr>
		</table>

		<table>
			<tr>
				<th style="width: 80px;"><em> Autnomous </em></th>
			</tr>
			<tr>
				<td></td>
				<td><b>Reaching a defense</b></td>
				<td style="width: 30px;"><input type="radio"
					name="auto_defense" value="auto_reach_defense_yes"></td>
				<td>Yes
				<td style="width: 30px;"><input type="radio"
					name="auto_defense" value="auto_reach_defense_no"></td>
				<td>No</td>
			</tr>

			<tr>
				<td></td>
				<td style="width: 206px;"><b>Crossing a defense</b></td>
				<td style="width: 19px;"><input type="radio"
					name="auto_defense" value="auto_cross_portcullis"></td>
				<td>Portcullis</td>
				<td style="width: 16px;"><input type="radio"
					name="auto_defense" value="auto_cross_cheval"></td>
				<td style="width: 169px;">Cheval De Frise</td>
				<td><input type="radio" name="auto_defense"
					value="auto_cross_moat"></td>
				<td>Moat</td>
				<td><input type="radio" name="auto_defense"
					value="auto_cross_ramparts"></td>
				<td>Ramparts</td>
				<td><input type="radio" name="auto_defense"
					value="auto_cross_brdige"></td>
				<td style="width: 130px;">Draw Bridge</td>
				<td><input type="radio" name="auto_defense"
					value="auto_cross_sally"></td>
				<td style="width: 107px;">Sally Port</td>
				<td><input type="radio" name="auto_defense"
					value="auto_cross_rock_wall"></td>
				<td style="width: 113px;">Rock Wall</td>
				<td><input type="radio" name="auto_defense"
					value="auto_cross_rough"></td>
				<td style="width: 146px;">Rough Terrain</td>
				<td><input type="radio" name="auto_defense"
					value="auto_cross_low_bar"></td>
				<td style="width: 91px;">Low Bar</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th style="width: 85px;"></th>
				<td><b>Scoring in AUTO</b></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>AUTO Low Goal</td>
				<td><input type="number" name="auto_score"
					value="auto_score_low"></td>
				<td style="width: 155px;">AUTO High Goal</td>
				<td><input type="number" name="auto_score"
					value="auto_score_high"></td>

			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> Spy Bot?</td>
				<td> Yes <input type="radio" name="auto_spy" value="auto_spy_yes"></td>
				<td> No <input type="radio" name="auto_spy" value="auto_spy_no"></td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th><em> Defenses Crossed (number of times) </em></th>
			</tr>
			<tr>
				
			</tr>

			<tr>
				<td><p align="right"> Category A</p></td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Portcullis.JPG' %}"
					style="height: 150px;" /></td>
				<td>Portcullis :</td>
				<td><input type="number" name="portcullis"></td>
				<td>Slow <input type="radio" name="slow_fast_portcullis"
					value="slow_portcullis">
				</td>
				<td>Fast <input type="radio" name="slow_fast_portcullis"
					value="fast_portcullus">
				</td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Cheval De Frise.JPG' %}"
					style="width: 175px;" /></td>
				<td>Cheval De Frise :</td>
				<td><input type="number" name="cheval_de_frise"></td>
				<td>Slow <input type="radio" name="slow_fast_cheval"
					value="slow_cheval">
				</td>
				<td>Fast <input type="radio" name="slow_fast_cheval"
					value="fast_cheval">
				</td>
			</tr>
			<tr>
				<td><p align="right"> Category B</p></td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Moat.JPG' %}"
					style="width: 175px;" /></td>
				<td>Moat :</td>
				<td><input type="number" name="moat"></td>
				<td>Slow <input type="radio" name="slow_fast_moat"
					value="slow_moat">
				</td>
				<td>Fast <input type="radio" name="slow_fast_moat"
					value="fast_moat">
				</td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Ramparts.JPG' %}"
					style="width: 175px;" /></td>
				<td>Ramparts :</td>
				<td><input type="number" name="ramparts"></td>
				<td>Slow <input type="radio" name="slow_fast_ramparts"
					value="slow_ramparts">
				</td>
				<td>Fast <input type="radio" name="slow_fast_ramparts"
					value="fast_ramparts">
				</td>
			</tr>
			<tr>
				<td><p align="right"> Category C</p></td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Draw Bridge.JPG' %}"
					style="height: 150px;" /></td>
				<td>Draw Bridge :</td>
				<td><input type="number" name="draw_bridge"></td>
				<td>Slow <input type="radio" name="slow_fast_bridge"
					value="slow_bridge">
				</td>
				<td>Fast <input type="radio" name="slow_fast_bridge"
					value="fast_brdige">
				</td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Sally Port.JPG' %}"
					style="width: 175px;" /></td>
				<td>Sally Port :</td>
				<td><input type="number" name="sally_port"></td>
				<td>Slow <input type="radio" name="slow_fast_sally"
					value="slow_sally">
				</td>
				<td>Fast <input type="radio" name="slow_fast_sally"
					value="fast_sally">
				</td>
			</tr>
			<tr>
				<td><p align="right"> Category D</p></td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Rock Wall.JPG' %}"
					style="width: 175px;" /></td>
				<td>Rock Wall :</td>
				<td><input type="number" name="rock_wall"></td>
				<td>Slow <input type="radio" name="slow_fast_rock_wall"
					value="slow_rock_wall">
				</td>
				<td>Fast <input type="radio" name="slow_fast_rock_wall"
					value="fast_rock_wall">
				</td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Rough Terrain.JPG' %}"
					style="width: 175px;" /></td>
				<td>Rough Terrain :</td>
				<td><input type="number" name="rough_terrain"></td>
				<td>Slow <input type="radio" name="slow_fast_rough"
					value="slow_rough">
				</td>
				<td>Fast <input type="radio" name="slow_fast_rough"
					value="fast_rough">
				</td>
			</tr>
			<tr>
				<td><p align="right"> Category E</p></td>
			</tr>
			<tr>
				<td></td>
				<td><img
					src="{% static 'Scouting2016/defenseImages/Low Bar.JPG' %}"
					style="width: 175px;" /></td>
				<td>Low Bar :</td>
				<td><input type="number" name="low_bar"></td>
				<td>Slow <input type="radio" name="slow_fast_low_bar"
					value="slow_low_bar">
				</td>
				<td>Fast <input type="radio" name="slow_fast_low_bar"
					value="fast_low_bar">
				</td>
			</tr>
		</table>
		<br>


		<table>
			<th><em> Scoring Goals </em></th>
			<tr>
				<td></td>
				<td><b>Low Goal: </b></td>
				<td></td>
				<td><b>High Goal: </b></td>
			</tr>
			<tr>
				<td></td>
				<td>Scored Successfully</td>
				<td><input type="number" name="low_score_successful"></td>
				<td>Scored Successfully</td>
				<td><input type="number" name="high_score_successful">
				</td>
			</tr>

			<tr>
				<td></td>
				<td>Failed</td>
				<td><input type="number" name="low_score_fail"></td>
				<td>Failed</td>
				<td><input type="number" name="high_score_fail"></td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td></td>
				<td><b>Tech Fouls</b></td>
				<td><input type="number" name="score_tech_foul"></td>
			</tr>
		</table>
		<br>

		<table>
			<th><em> Scaled or Challenged </em></th>
			<tr>
				<td></td>
				<td>Scaled</td>
				<td> <input type="radio" name="scale" value="scale_no"> No </td>
				<td> <input type="radio" name="scale" value="scale_partial"> Attempted </td>
				<td> <input type="radio" name="scale" value="scale_compelete"> Completed </td>
			</tr>
			<tr>
				<td></td>
				<td>Challenged</td>
				<td> <input type="radio" name="challenge" value="challenge_no"> No </td>
				<td> <input type="radio" name="challenge" value="challenge_yes"> Yes </td>
			</tr>
		</table>

		<br> <b><em>Notes (include penalities) </em></b><br>
		<textarea rows="8" cols="75" wrap="soft" name="notes_text_area"
			placeholder="Please enter any notes here. This can include strategy and penalties."></textarea>
		<br> <br> <input type="submit" value="Submit">
	</form>
</body>
</html>