<html>
<head>

{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<script src="{% static 'Scouting2016/site.js' %}"></script>
<title>Scouting Form</title>
</head>
<style>
	table {
		background-color: #FFFFFF;
	}
	IMG.centerImage {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>
<body>
	
	{% include "Scouting2016/banner.html" %} 
	
	<script>
		function incrementValue(a)
		{
		    var value = parseInt(document.getElementById(a).value, 10);
		    value = isNaN(value) ? 0 : value;
		    value++;
		    document.getElementById(a).value = value;
		}
		function decrementValue(a)
		{
		    var value = parseInt(document.getElementById(a).value, 10);
		    value = isNaN(value) ? 0 : value;
		    value--;
		    document.getElementById(a).value = value;
		}
	</script>
	
<div class="container-fluid">
    <div class="page-header">
    	<h1>Scouting Form</h1>
    	Enter scouting information team by team and submit!
		<br>
		<br>
    </div>
    
    {% if error_message != "" %}
    <h1 style="color:red;"> {{ error_message }} </h1>
    {% endif %}
	
	<form action="{{ submit_view }}" method="post">
		{% csrf_token %}
		
			<div class="row">
				<div class="col-md-4">Team Number :
					<span ><input type="number" name="team_number"  value="{{team_number}}"   {% if lock_team_and_match %} readonly {% endif %}></span> </div> 
				<div class="col-md-4">Match Number:
					<span ><input type="number" name="match_number" value="{{match_number}}"  {% if lock_team_and_match %} readonly {% endif %}></span> </div> 
			</div>





			<div class="row">
				<h3 > Autonomous </h3>
			</div>
			<select>
				<optgroup label = "Reaching a defense"> </optgroup>
				<option value="reached" {% if sr.auto_defense == 'reached' %} selected="selected"{% endif %}>Reached</option>
				<option value="no_reach" {% if sr.auto_defense == 'no_reach' %} selected="selected"{% endif %}>No Reach</option>
				<optgroup label = "Crossing a defense"> </optgroup>
				<option value="portcullis" {% if sr.auto_defense == 'portcullis' %} selected="selected"{% endif %}>Portcullis</option>
				<option value="cheval" {% if sr.auto_defense == 'cheval' %} selected="selected"{% endif %}>Cheval De Frise</option>
				<option value="moat" {% if sr.auto_defense == 'moat' %} selected="selected"{% endif %}>Moat</option>
				<option value="ramparts" {% if sr.auto_defense == 'ramparts' %} selected="selected"{% endif %}>Ramparts</option>
				<option value="brdige" {% if sr.auto_defense == 'brdige' %} selected="selected"{% endif %}>Draw Bridge</option>
				<option value="sally" {% if sr.auto_defense == 'sally' %} selected="selected"{% endif %}>Sally Port</option>
				<option value="rock_wall" {% if sr.auto_defense == 'rock_wall' %} selected="selected"{% endif %}>Rock Wall</option>
				<option value="rough" {% if sr.auto_defense == 'rough' %} selected="selected"{% endif %}>Rough Terrain</option>
				<option value="low_bar" {% if sr.auto_defense == 'low_bar' %} selected="selected"{% endif %}>Low Bar</option>
			</select>

		
		
		
		
			<div class="row">
				<h3>Scoring in AUTO</h3>
			</div>
			<div class="row">
				<div class="col-md-2">
	    			<span >AUTO Low Goal</span>
	    		</div>
	    		<div class="col-md-4">
	        		<span > <button type="button" onclick="decrementValue('auto_score_low')">-</button> </span>
	        		<span > <input type="number" id = "auto_score_low" name="auto_score_low" value="{{sr.auto_score_low}}"> </span>
	        		<span > <button type="button" onclick="incrementValue('auto_score_low')">+</button> </span>
     			</div>
     			<div class="col-md-2">
	    			<span >AUTO High Goal</span>
	    		</div>
	    		<div class="col-md-4">
	        		<span > <button type="button" onclick="decrementValue('auto_score_high')">-</button> </span>
	        		<span > <input type="number" id = "auto_score_high" name="auto_score_high" value="{{sr.auto_score_high}}"> </span>
	        		<span > <button type="button" onclick="incrementValue('auto_score_high')">+</button> </span>
     			</div>
			</div>
			<div class="row">
				<div class="col-md-2">
	    			<span >Spy Bot?</span>
	    		</div>
	    		<div class="col-md-4">
	        		<span> Yes <input type="radio" name="auto_spy" value="yes" {% if sr.auto_spy == 'yes' %} checked="checked"{% endif %}> </span>
     				<span>No <input type="radio" name="auto_spy" value="no" {% if sr.auto_spy == 'no' %} checked="checked"{% endif %}></span>
     			</div>
			</div>





			<div class="row">
				<h3> Defenses Crossed (number of times) </h3>
			</div>

			<div class="row">
				<h4>Category A</h4>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Portcullis.JPG' %}" style="height: 150px;" /></div>
					<div class="col-md-4"> 
							<span>Portcullis :</span>
							<span> <button type="button" onclick="decrementValue('portcullis')">-</button></span>
							<span> <input type="number" id = "portcullis" name="portcullis" value="{{sr.portcullis}}"> </span>
							<span> <button type="button" onclick="incrementValue('portcullis')">+</button> </span>
					</div>
					<div class="col-md-4">
						<span> <input type="radio" name="slow_fast_portcullis" value="no_move" {% if sr.slow_fast_portcullis == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
						<span>  <input type="radio" name="slow_fast_portcullis" value="slow" {% if sr.slow_fast_portcullis == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
						<span> <input type="radio" name="slow_fast_portcullis" value="fast" {% if sr.slow_fast_portcullis == 'fast' %} checked="checked"{% endif %}>Efficient</span>
					</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Cheval De Frise.JPG' %}" style="width: 175px;" /></div>
				<div class="col-md-4"> 
					<span>Cheval De Frise :</span>
					<span> <button type="button" onclick="decrementValue('cheval_de_frise')">-</button> </span>
					<span> <input type="number" id = "cheval_de_frise" name="cheval_de_frise" value="{{sr.cheval_de_frise}}"> </span>
					<span><button type="button" onclick="incrementValue('cheval_de_frise')">+</button></span>
				</div>
				<div class="col-md-4"> 
					<span> <input type="radio" name="slow_fast_cheval_de_frise" value="no_move" {% if sr.slow_fast_cheval_de_frise == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_cheval_de_frise" value="slow" {% if sr.slow_fast_cheval_de_frise == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_cheval_de_frise" value="fast" {% if sr.slow_fast_cheval_de_frise == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
			
			<div class="row">
				<h4>Category B</h4>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Moat.JPG' %}" style="width: 175px;" /></div>
				<div class="col-md-4">
					<span>Moat :</span>
					<span><button type="button" onclick="decrementValue('moat')">-</button></span>
					<span><input type="number" id = "moat" name="moat" value="{{sr.moat}}"></span>
					<span><button type="button" onclick="incrementValue('moat')">+</button></span>
				</div>
				<div class="col-md-4">
					<span><input type="radio" name="slow_fast_moat" value="no_move" {% if sr.slow_fast_moat == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_moat" value="slow" {% if sr.slow_fast_moat == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_moat" value="fast" {% if sr.slow_fast_moat == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Ramparts.JPG' %}" style="width: 175px;" /></div>
				<div class="col-md-4">
					<span>Ramparts :</span>
					<span><button type="button" onclick="decrementValue('ramparts')">-</button></span>
					<span><input type="number" id ="ramparts" name="ramparts" value="{{sr.ramparts}}"></span>
					<span><button type="button" onclick="incrementValue('ramparts')">+</button></span>
				</div>
				<div class="col-md-4">
					<span><input type="radio" name="slow_fast_ramparts" value="no_move" {% if sr.slow_fast_ramparts == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_ramparts" value="slow" {% if sr.slow_fast_ramparts == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_ramparts" value="fast" {% if sr.slow_fast_ramparts == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
			
			<div class="row">
				<h4>Category C</h4>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Draw Bridge.JPG' %}" style="height: 150px;" /></div>
				<div class="col-md-4">
					<span>Draw Bridge :</span>
					<span><button type="button" onclick="decrementValue('draw_bridge')">-</button></span>
					<span><input type="number" id = "draw_bridge" name="draw_bridge" value="{{sr.draw_bridge}}"></span>
					<span><button type="button" onclick="incrementValue('draw_bridge')">+</button></span>
				</div>
				<div class="col-md-4">
					<span><input type="radio" name="slow_fast_draw_bridge" value="no_move" {% if sr.slow_fast_draw_bridge == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_draw_bridge" value="slow" {% if sr.slow_fast_draw_bridge == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_draw_bridge" value="fast" {% if sr.slow_fast_draw_bridge == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Sally Port.JPG' %}" style="width: 175px;" /></div>
				<div class="col-md-4">
					<span>Sally Port :</span>
					<span><button type="button" onclick="decrementValue('sally_port')">-</button></span>
					<span><input type="number" id = "sally_port" name="sally_port" value="{{sr.sally_port}}"></span>
					<span><button type="button" onclick="incrementValue('sally_port')">+</button></span>
				</div>
				<div class="col-md-4">
					<span><input type="radio" name="slow_fast_sally_port" value="no_move" {% if sr.slow_fast_sally_port == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_sally_port" value="slow" {% if sr.slow_fast_sally_port == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_sally_port" value="fast" {% if sr.slow_fast_sally_port == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
			<div class="row">
				<h4>Category D</h4>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Rock Wall.JPG' %}" style="width: 175px;" /></div>
				<div class="col-md-4">
					<span>Rock Wall :</span>
					<span><button type="button" onclick="decrementValue('rock_wall')">-</button></span>
					<span><input type="number" id="rock_wall" name="rock_wall" value="{{sr.rock_wall}}"></span>
					<span><button type="button" onclick="incrementValue('rock_wall')">+</button></span>
				</div>
				<div class="col-md-4">
					<span><input type="radio" name="slow_fast_rock_wall" value="no_move" {% if sr.slow_fast_rock_wall == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_rock_wall" value="slow" {% if sr.slow_fast_rock_wall == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_rock_wall" value="fast" {% if sr.slow_fast_rock_wall == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Rough Terrain.JPG' %}" style="width: 175px;" /></div>
				<div class="col-md-4">
					<span>Rough Terrain :</span>
					<span><button type="button" onclick="decrementValue('rough_terrain')">-</button></span>
					<span><input type="number" id = "rough_terrain" name="rough_terrain" value="{{sr.rough_terrain}}"></span>
					<span><button type="button" onclick="incrementValue('rough_terrain')">+</button></span>
				</div>
				<div class="col-md-4">
					<span><input type="radio" name="slow_fast_rough_terrain" value="no_move" {% if sr.slow_fast_rough_terrain == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_rough_terrain" value="slow" {% if sr.slow_fast_rough_terrain == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_rough_terrain" value="fast" {% if sr.slow_fast_rough_terrain == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
			<div class="row">
				<h4>Category E</h4>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img class="center-block" src="{% static 'Scouting2016/defenseImages/Low Bar.JPG' %}" style="width: 175px;" /></div>
				<div class="col-md-4">
					<span>Low Bar :</span>
					<span><button type="button" onclick="decrementValue('low_bar')">-</button></span>
					<span><input type="number" id ="low_bar" name="low_bar" value="{{sr.low_bar}}"></span>
					<span><button type="button" onclick="incrementValue('low_bar')">+</button></span>
				</div>
				<div class="col-md-4">
					<span><input type="radio" name="slow_fast_low_bar" value="no_move" {% if sr.slow_fast_low_bar == 'no_move' %} checked="checked"{% endif %}>Did Not Move </span>
					<span>  <input type="radio" name="slow_fast_low_bar" value="slow" {% if sr.slow_fast_low_bar == 'slow' %} checked="checked"{% endif %}>Not Efficient</span>
					<span> <input type="radio" name="slow_fast_low_bar" value="fast" {% if sr.slow_fast_low_bar == 'fast' %} checked="checked"{% endif %}>Efficient</span>
				</div>
			</div>
		




			<div class="row"><h3>Scoring Goals </h3></div>
			<div class="row"><h4>Low Goal: </h4></div>
			<div class="row">
				<div class="col-md-2">
					<span>Scored Successfully: </span>
				</div>
				<div class="col-md-4">
					<span><button type="button" onclick="decrementValue('low_score_successful')">-</button></span>
					<span><input type="number" id = "low_score_successful" name="low_score_successful" value="{{sr.low_score_successful}}"></span>
					<span><button type="button" onclick="incrementValue('low_score_successful')">+</button></span>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-2">
					<span>Failed: </span>
				</div>
				<div class="col-md-4">
					<span><button type="button" onclick="decrementValue('low_score_fail')">-</button></span>
					<span><input type="number" id="low_score_fail" name="low_score_fail" value="{{sr.low_score_fail}}"></span>
					<span><button type="button" onclick="incrementValue('low_score_fail')">+</button></span>
				</div>
			</div>
			
			
			<div class="row"><h4>High Goal: </h4></div>
			<div class="row">
				<div class="col-md-2">
					<span>Scored Successfully: </span>
				</div>
				<div class="col-md-4">
					<span><button type="button" onclick="decrementValue('high_score_successful')">-</button></span>
					<span><input type="number" id="high_score_successful" name="high_score_successful" value="{{sr.high_score_successful}}"></span>
					<span><button type="button" onclick="incrementValue('high_score_successful')">+</button></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<span>Failed: </span>
				</div>
				<div class="col-md-4">
					<span><button type="button" onclick="decrementValue('high_score_fail')">-</button></span>
					<span><input type="number" id = "high_score_fail" name="high_score_fail" value="{{sr.high_score_fail}}"></span>
					<span><button type="button" onclick="incrementValue('high_score_fail')">+</button></span>
				</div>
			</div>

			<br><br>

			<div class="row">
				<div class="col-md-2"><h4>Tech Fouls</h4></div>
				<div class="col-md-4">
					<span><button type="button" onclick="decrementValue('score_tech_foul')">-</button></span>
					<span><input type="number" id="score_tech_foul" name="score_tech_foul" value="{{sr.score_tech_foul}}"></span>
					<span><button type="button" onclick="incrementValue('score_tech_foul')">+</button></span>
				</div>
			</div>
			
			<br>
			
			<div class="row"><h4>Scaled or Challenged</h4></div>
			<div class="row">
				<span><input type="radio" name="scale_challenge" value="scale" {% if sr.scale_challenge == 'scale' %} checked="checked"{% endif %}> Scale</span>
                <span><input type="radio" name="scale_challenge" value="challenge" {% if sr.scale_challenge == 'challenge' %} checked="checked"{% endif %}> Challenge </span>
                <span><input type="radio" name="scale_challenge" value="no_points" {% if sr.scale_challenge == 'no_points' %} checked="checked"{% endif %}> No points</span>
			</div>
		
		<br>
		
		<div class="form-group">
      		<label for="notes">Notes (include penalties): </label>
      		<textarea class="form-control" rows="5" id="notes_text_area" placeholder="Please enter any notes here. This can include strategy and penalties.">{{sr.notes_text_area}}</textarea>
    	</div>
		<br> <br> <input type="submit" value="Submit">
	</form>
</div>
</body>