<html>
<head>

{% load staticfiles %}
{% include "Scouting2016/standard_header.html" %}
<title>Log in</title>
</head>

<body>
	
	{% include "Scouting2016/banner.html" %} 
 
    {% if error_message != None %}
    {{error_message}}
    {% endif %}
	
	<form action="{% url 'Scouting2016:auth_login' %}" method="post">
      {% csrf_token %}
      {% if request.GET.next != None %} <input type="hidden" name="next" value="{{ request.GET.next }}" />{% endif %}
    
      Username: <input name="username"><br>
      Password: <input name="password" type="password" ><br>
      <input type="submit" value="Submit">
	</form>
</body>