<html>
<head>

{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Log in</title>
</head>

<body>
	
	{% include "Scouting2016/banner.html" %} 
 
    {% if error_message != None %}
    {{error_message}}
    {% endif %}
	
	<form action="{% url 'Scouting2016:auth_login' %}" method="post">
      {% csrf_token %}
      {% if request.GET.next != None %} <input type="hidden" name="next" value="{{ request.GET.next }}" />{% endif %}
    
      Username: <input name="username"><br>
      Password: <input name="password" type="password" ><br>
      <input type="submit" value="Submit">
	</form>
</body>