
<html>
<head>

{% load staticfiles %}
<script src="{% static 'Scouting2016/jquery-2.2.2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Welcome!</title>
</head>
<style>

</style>

<body>

{% include "Scouting2016/banner.html" %}

<table border="1">
  <tr><td>Red Prediction</td><td>{{ red_prediction }}</td></tr>
  <tr><td>Blue Prediction</td><td>{{ blue_prediction }}</td></tr>
</table>

<h1> Prediction for Match {{match_number}}</h1>
<h2><u>Red Alliance</u></h2>
<ul>
	<li> <a href="{% url 'Scouting2016:view_team' red_team_1.teamNumber %}">{{ red_team_1.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' red_team_2.teamNumber %}">{{ red_team_2.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' red_team_3.teamNumber %}">{{ red_team_3.teamNumber }} </a></li>
</ul>
<br>

<table border="1">
  <th> Category </th>
  <th> Best Defense </th>
  <th> Crossed </th>
  <th> Worst Defense </th>
  <th> Crossed </th>
  {% for category_name, value in red_defenses %}
  <tr>
    <td><center>{% if audience_defense == category_name %} <b>{% endif %}{{category_name}}</center></td>
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
  </tr>
  {% endfor %}

</table>
<br>


<h2><u> Blue Alliance</u></h2>
<ul>
	<li> <a href="{% url 'Scouting2016:view_team' blue_team_1.teamNumber %}">{{ blue_team_1.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' blue_team_2.teamNumber %}">{{ blue_team_2.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' blue_team_3.teamNumber %}">{{ blue_team_3.teamNumber }} </a></li>
</ul>
<br>

<table border="1">
  <th> Category </th>
  <th> Best Defense </th>
  <th> Crossed </th>
  <th> Worst Defense </th>
  <th> Crossed </th>
  {% for category_name, value in blue_defenses %}
  <tr>
    <td><center>{% if audience_defense == category_name %} <b>{% endif %}{{category_name}}</center></td>
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.0.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.0}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
    <td>{% if audience_defense == category_name %} <b>{% endif %}{{value.1.1}}{% if audience_defense == category_name %} </b>{% endif %}</td> 
  </tr>
  {% endfor %}
</table>


</body>
</html>