<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Welcome!</title>
</head>
<style>

</style>

<body>

{% include "Scouting2016/banner.html" %}

<h1> Prediction for Match {{match_number}}</h1>
<h2><u>Red Alliance</u></h2>
<ul>
	<li> <a href="{% url 'Scouting2016:view_team' red_team_1.teamNumber %}">{{ red_team_1.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' red_team_2.teamNumber %}">{{ red_team_2.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' red_team_3.teamNumber %}">{{ red_team_3.teamNumber }} </a></li>
</ul>
<br>

<table border="1">
	<th> Defense </th>
	<th> Times crossed </th>
	{% for defense_name, value in red_sorted %}
	<tr>
	<td>{{defense_name}}</td> <td> {{value}} </td>
	</tr>
	{% endfor %}
	
</table>
<br>


<h2><u> Blue Alliance</u></h2>
<ul>
	<li> <a href="{% url 'Scouting2016:view_team' blue_team_1.teamNumber %}">{{ blue_team_1.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' blue_team_2.teamNumber %}">{{ blue_team_2.teamNumber }} </a></li>
	<li> <a href="{% url 'Scouting2016:view_team' blue_team_3.teamNumber %}">{{ blue_team_3.teamNumber }} </a></li>
</ul>
<br>

<table border="1">
	<th> Defense </th>
	<th> Times crossed </th>
	{% for defense_name, value in blue_sorted %}
	<tr>
	<td>{{defense_name}}</td> <td> {{value}} </td>
	</tr>
	{% endfor %}
</table>


</body>
</html>