<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Insert Title Here</title>
</head>
<body>

{% include "Scouting2016/banner.html" %}
<form action="{{ submit_pit }}" method="post">
		<p> Which team's pit was visited?												 </p>
		<input type="number" name="team_number"  value="{{team_number}}"> 
		<p> What is the team's home page?												 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_homepage" 
		placeholder="Ex. www.snobot.org">
		</textarea>
		</textarea>
		<p> Was the team pit functional? Have they been organized? 		 				 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_organized" 
		placeholder="">
		</textarea>
		<p> Was the team amicable and open?												 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_openness" 
		placeholder="">
		</textarea>
		<p> How much swag does the team have? Are they lame? 							 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_swag" 
		placeholder="Include all swag / lameness factors.">
		</textarea>
		<p> Has the team won awards in the past? 										 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_awards" 
		placeholder="Include all awards won">
		</textarea>
		<p> What could their robot do?    												 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_abiltiies" 
		placeholder="Include all abilties of the robot, including strengths and weaknesses">
		</textarea>
		<p> What teams were considering an alliance with this team?						 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_alliances" 
		placeholder="Please list all teams, incluiding name and mumber.">
		</textarea>
		<p> Is the team considering an alliance with us? 								 </p>
		<input type="radio" name="ally_174" value="yes">Yes
		<input type="radio" name="ally_174" value="no">No
		<p> Is this the team's first year? Are they new?								 </p>
		<input type="radio" name = "first_year" value = "yes">Yes
		<input type="radio" name = "first_year" value = "no">No
		<p> Was their robot functional?													 </p>
		<input type="radio" name = "function" value = "yes">Yes
		<input type="radio" name = "function" value = "no">No		
		<p> If no, what was the problem?									 </p>
		<textarea rows="8" cols="75" wrap="soft" name="notes_functionality" 
		placeholder="Include what was broken, if anything, and how quickly any problems
		were being fixed.">
		</textarea>
		<br> <br> <input type="submit" value="Submit">
</form>		
</body>
</html>