<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Robot Info</title>
<style>

#drive_team{
    color : blue;
}
h2{
    color :rgb(255,200,54);
}
</style>
</head>

<body>

{% include "Scouting2016/banner.html" %}

{{ team.teamNumber }}

<h1>Drive Train</h1>
<p>The drive train consists of a 6-wheel tank drive. </p>
<h1>Boulder Manipulation</h1>
Over-roller information.
<h1>Scaling</h1>
<ul>
  <li>Item </li>
  <li> stuff </li>
  <li>Something </li>
</ul>
<h1 id = "drive_team">Drive Team</h1>
<img src="{% static 'Scouting2016/TeamPicture.jpg' %}">
</img><br></br>
Picture from snobot.org front page, to test out images.
<h2>Drivers</h2>
Subgroups!
<h2>Operators</h2>
</html>