<html>
<head>

{% load staticfiles %}
<script src="{% static 'Scouting2016/sorttable.js' %}"></script>
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Comparison</title>
</head>
<body>

	{% include "Scouting2016/banner.html" %} 

    {% if results != None %}
        {% if results|length != 0 %}
            <table border="1" class="sortable">
                <tr>
                {% for field_name, _ in results.0 %}
                  <th>{{field_name}}</th>
                {% endfor %}
                </tr>
                {% for result in results %}
                <tr>
                   {% for field_name, value in result %}  
                   {% if field_name == "Team Number" %}
                 <td> <a href="{% url 'Scouting2016:view_team' value %}">{{ value }} </a></td>
                    {% else %}
                    <td>{{value}}</td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p style="color:red;"> No results found! </p>
        {% endif %}
  
    {% endif %}

	<form action="{% url 'Scouting2016:comparison' %}" method="get">
		<h2>Teams to Compare</h2>
		<ul>
			{% for team in teams %}
			<li><input type="checkbox" name="{{ team.teamNumber }}" {% if team.teamNumber in selected_team_numbers %} checked {% endif %}>Team {{ team.teamNumber }}</li> {% endfor %}
		</ul>
		<h2>Statistics to Compare</h2>
		<ul>
			<li> <input type="checkbox" name="auto_score_low"        {%if 'auto_score_low'         in selected_fields_names %} checked {% endif %} > Auto low goal scores     </li>
			<li> <input type="checkbox" name="auto_score_high"       {%if 'auto_score_high'        in selected_fields_names %} checked {% endif %} > Auto high goal scores    </li>
			<li> <input type="checkbox" name="high_score_successful" {%if 'high_score_successful'  in selected_fields_names %} checked {% endif %} > High goal scores         </li>
			<li> <input type="checkbox" name="high_score_fail"       {%if 'high_score_fail'        in selected_fields_names %} checked {% endif %} > High goal misses         </li>
			<li> <input type="checkbox" name="low_score_successful"  {%if 'low_score_successful'   in selected_fields_names %} checked {% endif %} > Low goal scores          </li>
			<li> <input type="checkbox" name="low_score_fail"        {%if 'low_score_fail'         in selected_fields_names %} checked {% endif %} > Low goal misses          </li>
			<li> <input type="checkbox" name="score_tech_foul"       {%if 'score_tech_foul'        in selected_fields_names %} checked {% endif %} > Tech. Fouls              </li>
			<li> <input type="checkbox" name="cheval_de_frise"       {%if 'cheval_de_frise'        in selected_fields_names %} checked {% endif %} > Cheval de Frise          </li>
			<li> <input type="checkbox" name="ramparts"              {%if 'ramparts'               in selected_fields_names %} checked {% endif %} > Ramparts                 </li>
			<li> <input type="checkbox" name="sally_port"            {%if 'sally_port'             in selected_fields_names %} checked {% endif %} > Sally port door          </li>
			<li> <input type="checkbox" name="low_bar"               {%if 'low_bar'                in selected_fields_names %} checked {% endif %} > Low bar                  </li>
			<li> <input type="checkbox" name="rock_wall"             {%if 'rock_wall'              in selected_fields_names %} checked {% endif %} > Rock wall                </li>
			<li> <input type="checkbox" name="draw_bridge"           {%if 'draw_bridge'            in selected_fields_names %} checked {% endif %} > Drawbridge               </li>
			<li> <input type="checkbox" name="moat"                  {%if 'moat'                   in selected_fields_names %} checked {% endif %} > Moat                     </li>
			<li> <input type="checkbox" name="rough_terrain"         {%if 'rough_terrain'          in selected_fields_names %} checked {% endif %} > Rough Terrain            </li>
			<li> <input type="checkbox" name="portcullis"            {%if 'portcullis'             in selected_fields_names %} checked {% endif %} > Portcullis               </li>
		</ul>
		<br> </br> <input type="submit" value="Submit">
	</form>
</body>
</html>
