<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css"
	href="{% static 'Scouting2016/style.css' %}" />
<title>Welcome!</title>
</head>
<body>

	{% include "Scouting2016/banner.html" %} 
 
 
	{% if selected_fields_names|length != 0 %}
	<table border = "1">
		  <th> Teams </th>
		 {%if 'auto_score_low'         in selected_fields_names %}<th> Auto low scores  </th> {% endif %} 
		 {%if 'auto_score_high'        in selected_fields_names %}<th> Auto high scores </th> {% endif %} 
		 {%if 'high_score_successful'  in selected_fields_names %}<th> High goal scores </th> {% endif %} 
		 {%if 'high_score_fail'        in selected_fields_names %}<th> High goal misses </th> {% endif %}
		 {%if 'low_score_successful'   in selected_fields_names %}<th> Low goal scores  </th> {% endif %}
		 {%if 'low_score_fail'         in selected_fields_names %}<th> Low goal misses  </th> {% endif %}
		 {%if 'score_tech_foul'        in selected_fields_names %}<th> Tech. Fouls      </th> {% endif %}				
		 {%if 'cheval_de_frise'        in selected_fields_names %}<th> Cheval de Frise  </th> {% endif %}
		 {%if 'ramparts'               in selected_fields_names %}<th> Ramparts         </th> {% endif %}
		 {%if 'sally_port'             in selected_fields_names %}<th> Sally port Door  </th> {% endif %}
		 {%if 'low_bar'                in selected_fields_names %}<th> Low Bar          </th> {% endif %}
		 {%if 'rock_wall'              in selected_fields_names %}<th> Rock wall        </th> {% endif %}
		 {%if 'draw_bridge'            in selected_fields_names %}<th> Drawbridge       </th> {% endif %}
		 {%if 'moat'                   in selected_fields_names %}<th> Moat             </th> {% endif %}
		 {%if 'rough_terrain'          in selected_fields_names %}<th> Rough Terrain    </th> {% endif %}
		 {%if 'portcullis'             in selected_fields_names %}<th> Porticullis      </th> {% endif %}

		 {% for team in selected_team_numbers %}
		 <tr> 
		 <td> {{team.teamNumber}} </td>
		 {%if 'auto_score_low'         in selected_fields_names %}<td> {{team.auto_score_low}}        </td> {% endif %} 
		 {%if 'auto_score_high'        in selected_fields_names %}<td> {{team.auto_score_high}}       </td> {% endif %} 
		 {%if 'high_score_successful'  in selected_fields_names %}<td> {{team.high_score_successful}} </td> {% endif %} 
		 {%if 'high_score_fail'        in selected_fields_names %}<td> {{team.high_score_fails}}      </td> {% endif %}
		 {%if 'low_score_successful'   in selected_fields_names %}<td> {{team.low_score_successful}}  </td> {% endif %}
		 {%if 'low_score_fail'         in selected_fields_names %}<td> {{team.low_score_fails}}       </td> {% endif %}
		 {%if 'score_tech_foul'        in selected_fields_names %}<td> {{team.score_tech_foul}}       </td> {% endif %}				
		 {%if 'cheval_de_frise'        in selected_fields_names %}<td> {{team.cheval_de_frise}}       </td> {% endif %}
		 {%if 'ramparts'               in selected_fields_names %}<td> {{team.ramparts}}              </td> {% endif %}
		 {%if 'sally_port'             in selected_fields_names %}<td> {{team.sally_port}}            </td> {% endif %}
		 {%if 'low_bar'                in selected_fields_names %}<td> {{team.low_bar}}               </td> {% endif %}
		 {%if 'rock_wall'              in selected_fields_names %}<td> {{team.rock_wall}}             </td> {% endif %}
		 {%if 'draw_bridge'            in selected_fields_names %}<td> {{team.draw_bridge}}           </td> {% endif %}
		 {%if 'moat'                   in selected_fields_names %}<td> {{team.moat}}                  </td> {% endif %}
		 {%if 'rough_terrain'          in selected_fields_names %}<td> {{team.rough_terrain}}         </td> {% endif %}
		 {%if 'portcullis'             in selected_fields_names %}<td> {{team.portcullis}}            </td> {% endif %} 
		 </tr>
		 {% endfor %}
		 
	</table>
	{% endif %}

	<form action="{% url 'Scouting2016:comparison' %}" method="get">
		<h2>Teams to graph</h2>
		<ul>
			{% for team in teams %}
			<li><input type="checkbox" name="{{ team.teamNumber }}" {% if team.teamNumber in selected_team_numbers %} checked {% endif %}>Team {{ team.teamNumber }}</li> {% endfor %}
		</ul>
		<h2>Statistics to graph</h2>
		<ul>
			<li> <input type="checkbox" name="auto_score_low"        {%if 'auto_score_low'         in selected_fields_names %} checked {% endif %} > Auto low goal scores     </li>
			<li> <input type="checkbox" name="auto_score_high"       {%if 'auto_score_high'        in selected_fields_names %} checked {% endif %} > Auto high goal scores    </li>
			<li> <input type="checkbox" name="high_score_successful" {%if 'high_score_successful'  in selected_fields_names %} checked {% endif %} > High goal scores         </li>
			<li> <input type="checkbox" name="high_score_fail"       {%if 'high_score_fail'        in selected_fields_names %} checked {% endif %} > High goal misses         </li>
			<li> <input type="checkbox" name="low_score_successful"  {%if 'low_score_successful'   in selected_fields_names %} checked {% endif %} > Low goal scores          </li>
			<li> <input type="checkbox" name="low_score_fail"        {%if 'low_score_fail'         in selected_fields_names %} checked {% endif %} > Low goal misses          </li>
			<li> <input type="checkbox" name="score_tech_foul"       {%if 'score_tech_foul'        in selected_fields_names %} checked {% endif %} > Tech. Fouls              </li>
			<li> <input type="checkbox" name="cheval_de_frise"       {%if 'cheval_de_frise'        in selected_fields_names %} checked {% endif %} > Cheval de Frise crosses  </li>
			<li> <input type="checkbox" name="ramparts"              {%if 'ramparts'               in selected_fields_names %} checked {% endif %} > Ramparts                 </li>
			<li> <input type="checkbox" name="sally_port"            {%if 'sally_port'             in selected_fields_names %} checked {% endif %} > Sally port door          </li>
			<li> <input type="checkbox" name="low_bar"               {%if 'low_bar'                in selected_fields_names %} checked {% endif %} > Low bar                  </li>
			<li> <input type="checkbox" name="rock_wall"             {%if 'rock_wall'              in selected_fields_names %} checked {% endif %} > Rock wall                </li>
			<li> <input type="checkbox" name="draw_bridge"           {%if 'draw_bridge'            in selected_fields_names %} checked {% endif %} > Drawbridge               </li>
			<li> <input type="checkbox" name="moat"                  {%if 'moat'                   in selected_fields_names %} checked {% endif %} > Moat                     </li>
			<li> <input type="checkbox" name="rough_terrain"         {%if 'rough_terrain'          in selected_fields_names %} checked {% endif %} > Rough Terrain            </li>
			<li> <input type="checkbox" name="portcullis"            {%if 'portcullis'             in selected_fields_names %} checked {% endif %} > Porticullis              </li>
		</ul>
		<br> </br> <input type="submit" value="Submit">
	</form>
</body>
</html>