<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<title>Welcome!</title>
</head>

<body>

	{% include "Scouting2016/banner.html" %}
	

{% if graph_url != "" %}
<img src="{{graph_url}}" />
{% endif %}
	
	
	<form action="{% url 'Scouting2016:show_graph' %}" method="get">
	<h2>Teams to graph</h2>
	<ul>
	 {% for team in teams %}
		<li><input type="checkbox" name="{{ team.teamNumber }}"  {% if team.teamNumber in selected_teams_list %} checked {% endif %}>Team {{ team.teamNumber }} </li>
	{% endfor %}
	</ul>
	<h2>Statistics to graph</h2>
	<ul>
	<li> <input type="checkbox" name="auto_score_low"        {%if 'auto_score_low'         in selected_fields_list %} checked {% endif %} > Auto low goal scores     </li>
	<li> <input type="checkbox" name="auto_score_high"       {%if 'auto_score_high'        in selected_fields_list %} checked {% endif %} > Auto high goal scores    </li>
	<li> <input type="checkbox" name="high_score_successful" {%if 'high_score_successful'  in selected_fields_list %} checked {% endif %} > High goal scores         </li>
	<li> <input type="checkbox" name="high_score_fail"       {%if 'high_score_fail'        in selected_fields_list %} checked {% endif %} > High goal misses         </li>
	<li> <input type="checkbox" name="low_score_successful"  {%if 'low_score_successful'   in selected_fields_list %} checked {% endif %} > Low goal scores          </li>
	<li> <input type="checkbox" name="low_score_fail"        {%if 'low_score_fail'         in selected_fields_list %} checked {% endif %} > Low goal misses          </li>
	<li> <input type="checkbox" name="score_tech_foul"       {%if 'score_tech_foul'        in selected_fields_list %} checked {% endif %} > Tech. Fouls              </li>
	<li> <input type="checkbox" name="cheval_de_frise"       {%if 'cheval_de_frise'        in selected_fields_list %} checked {% endif %} > Cheval de Frise crosses  </li>
	<li> <input type="checkbox" name="ramparts"              {%if 'ramparts'               in selected_fields_list %} checked {% endif %} > Ramparts                 </li>
	<li> <input type="checkbox" name="sally_port"            {%if 'sally_port'             in selected_fields_list %} checked {% endif %} > Sally port door          </li>
	<li> <input type="checkbox" name="low_bar"               {%if 'low_bar'                in selected_fields_list %} checked {% endif %} > Low bar                  </li>
	<li> <input type="checkbox" name="rock_wall"             {%if 'rock_wall'              in selected_fields_list %} checked {% endif %} > Rock wall                </li>
	<li> <input type="checkbox" name="draw_bridge"           {%if 'draw_bridge'            in selected_fields_list %} checked {% endif %} > Drawbridge               </li>
	<li> <input type="checkbox" name="moat"                  {%if 'moat'                   in selected_fields_list %} checked {% endif %} > Moat                     </li>
	<li> <input type="checkbox" name="rough_terrain"         {%if 'rough_terrain'          in selected_fields_list %} checked {% endif %} > Rough Terrain            </li>
	<li> <input type="checkbox" name="portcullis"            {%if 'portcullis'             in selected_fields_list %} checked {% endif %} > Porticullis              </li>
	</ul>
	<br> </br>
	<input type="submit" value="Submit">
	</form>
</body>
</html>