<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css"
	href="{% static 'Scouting2016/style.css' %}" />
<title>Welcome!</title>
</head>
<body>

	{% include "Scouting2016/banner.html" %} 
	{% if graph_url != "" %}
	<table>
		<th>Teams</th><th> WIP </th>
	</table>
	{% endif %}

	<form action="/2016/submit_compare" method="get">
		<h2>Teams to graph</h2>
		<ul>
			{% for team in teams %}
			<li>Include team {{ team.teamNumber }}: <input type="checkbox"
				name="{{ team.teamNumber }}"></a></li> {% endfor %}
		</ul>
		<h2>Statistics to graph</h2>
		<ul>
			<li>Auto low goal scores: <input type="checkbox"
				name="auto_score_low">
			</li>
			<li>Auto high goal scores: <input type="checkbox"
				name="auto_score_high">
			</li>
			<li>High goal scores: <input type="checkbox"
				name="high_score_successful">
			</li>
			<li>High goal misses: <input type="checkbox"
				name="high_score_fail">
			</li>
			<li>Low goal scores: <input type="checkbox"
				name="low_score_successful">
			</li>
			<li>Low goal misses: <input type="checkbox"
				name="low_score_fail">
			</li>
			<li>Tech. Fouls: <input type="checkbox" name="score_tech_foul">
			</li>
			<li>Cheval de Frise crosses: <input type="checkbox"
				name="cheval_de_frise">
			</li>
			<li>Ramparts: <input type="checkbox" name="ramparts">
			</li>
			<li>Sally port door: <input type="checkbox" name="sally_port">
			</li>
			<li>Low bar: <input type="checkbox" name="low_bar">
			</li>
			<li>Rock wall: <input type="checkbox" name="rock_wall">
			</li>
			<li>Drawbridge: <input type="checkbox" name="draw_bridge">
			</li>
			<li>Moat: <input type="checkbox" name="moat">
			</li>
			<li>Rough Terrain: <input type="checkbox" name="rough_terrain">
			</li>
			<li>Porticullis: <input type="checkbox" name="portcullis">
			</li>
		</ul>
		<br> </br> <input type="submit" value="Submit">
	</form>
</body>
</html>