<html>
<head>

{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<script src="{% static 'Scouting2016/site.js' %}"></script>
<title>Team {{ team_number }}</title>

</head>
<style>
table {
	text-align: center;
}
</style>
<body>

    {% include "Scouting2016/banner.html" %}
    <h1>Team {{ team_number }}</h1>
    <B> Homepage: </B> <a href = "{{team.teamHomepage}}" target="_blank">{{team.teamHomepage}}</a><br>
    Bookmark?	
    <form action="/2016/bookmark_team_page" method="post">
		{% csrf_token %}
		<input type='hidden' name='team_number' value={{team.teamNumber}}>
		<input type="radio" name="bookmark" value="yes" {% if team.bookmark == "yes" %} checked="checked" {% endif %}>Yes 
		<input type="radio" name="bookmark" value="no" {% if team.bookmark == "no" %} checked="checked" {% endif %}>No  
		<input type="submit">
	</form>

<h1>Matches Information:</h1>
{% if score_result_list|length == 0 %}
No matches scouted


{% else %}
 <h2>Matches Scouted:</h2>
  <ul>
  {% for sr in score_result_list %}
     <li><a href="{% url 'Scouting2016:match_display' sr.match.matchNumber %}">{{ sr.match.matchNumber }}</a></li>
  {% endfor %}
  </ul>
{% endif %}
     	
  <h2>Pictures</h2>
    
    {% if "auth.can_add_pictures" in perms %}
    <form action="{% url 'Scouting2016:upload_image' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name='team_number' value={{team_number}}>
        <input type="file" name='image_name' accept="image/*">
        <input type="submit">
    </form>
    {% endif %}
    {% if pictures|length != 0 %}
      {% for picture in pictures %}
    <img src="{% static picture.path %}" width='500'>
    <br></br>
      {% endfor %}
    {% else %}
    No pictures available
    {% endif %}
    <h2>Team Comments</h2>
{% if score_result_list|length == 0 %}
{% else %}
  Match Comments
  <ul>
  {% for sr in score_result_list %}
     {%if sr.notes_text_area != "" %}<li>{{sr.notes_text_area}}</li>{% endif %}
  {% endfor %}
  </ul>
{% endif %}

{% if team_comments|length != 0 %}
  Team Comments
  <ul>
  {% for comment in team_comments %}
     <li>{{comment.comment}}</li>
  {% endfor %}
  </ul>
{% endif %}

   <form action="{% url 'Scouting2016:add_team_comments' team_number %}" method="POST">
   {% csrf_token %}
   
  <textarea rows="8" cols="75" wrap="soft" name="team_comments" placeholder="Add Team Comments"></textarea>
  <br> <br> <input type="submit" value="Submit">
   </form>
 

    <h1>Robot Statistics</h1>
    
    <h2>Defenses Crossed:</h2>
    <b>Manipulative Defenses</b>
    
    <table border = "1">
    <th>  Defenses </th> <th> Total Times Crossed  </th>
    <tr> <td> Cheval de Frise </td> <td> {{ metrics.cheval_de_frise__sum  }} </td> </tr>
    <tr> <td> Portcullis      </td> <td> {{ metrics.portcullis__sum  }} </td>      </tr>
    <tr> <td> Sally Port      </td> <td> {{ metrics.sally_port__sum  }} </td>      </tr>
    <tr> <td> Draw Bridge     </td> <td> {{ metrics.draw_bridge__sum  }} </td>     </tr>
    </table>
    
    <br></br>
    <b>Driving Defenses</b>
    
    <table border = "1">
    <th>  Defenses </th> <th> Total Times Crossed  </th>
    <tr> <td> Ramparts      </td> <td> {{ metrics.ramparts__sum }} </td>       </tr>
    <tr> <td> Moat          </td> <td> {{ metrics.moat__sum  }} </td>          </tr>
    <tr> <td> Rock Wall     </td> <td> {{ metrics.rock_wall__sum  }} </td>     </tr>
    <tr> <td> Rough Terrain </td> <td> {{ metrics.rough_terrain__sum  }} </td> </tr>
    <tr> <td> Low Bar       </td> <td> {{ metrics.low_bar__sum  }} </td>       </tr>
    </table>

	<h2>Goals Scored</h2>

	<table border = "1">
	<tr><th></th><th>Average Scored</th><th>Average Missed</th><th>Autonomous</th></tr>
	<tr><td>Low Goal</td><td> {{ metrics.low_score_successful__avg }} </td><td>  {{ metrics.low_score_fail__avg }}  </td><td> {{metrics.auto_score_low__avg}} </td>    </tr>
	<tr><td>High Goal</td><td> {{ metrics.high_score_successful__avg }} </td><td>  {{ metrics.high_score_fail__avg }}  </td><td> {{metrics.auto_score_high__avg}} </td></tr>
</table>

<h2>Additional Info.</h2>
<h3>Tech fouls: {{metrics.score_tech_foul__sum}}</h3></b>

<h2> Pit Scouting </h2>

<h4> Was the team organized? </h4>
{{team.teamOrganized}}<br>
<h4> Was the team likeable?  </h4>
{{team.teamLikeable}}<br>
<h4> Did the team have swag? </h4>
{{team.teamSwag}}<br>
<h4> What could the robot do?</h4>
	<div class="container-fluid">
		<div class="row">
     		<div class="col-md-2"><b>Drive Exceptionally? </b></div>
     		<div class="col-md-1">{{team.drive}}</div>
		    <div class="col-md-2"><b>Have Autonomous? </b></div>
		    <div class="col-md-1">{{team.Auto}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Score High? </b></div>
		    <div class="col-md-1">{{team.ScoreHigh}}</div>
		    <div class="col-md-2"><b>Score Low? </b></div>
		    <div class="col-md-1">{{team.ScoreLow}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Portcullis? </b></div>
		    <div class="col-md-1">{{team.portcullis}}</div>
		    <div class="col-md-2"><b>Cross CDF? </b></div>
		    <div class="col-md-1">{{team.cheval}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Moat? </b></div>
		    <div class="col-md-1">{{team.moat}}</div>
		    <div class="col-md-2"><b>Cross Ramparts? </b></div>
		    <div class="col-md-1">{{team.ramparts}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Sally Port? </b></div>
		    <div class="col-md-1">{{team.sally}}</div>
		    <div class="col-md-2"><b>Cross Draw Bridge? </b></div>
		    <div class="col-md-1">{{team.drawbridge}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Rock Wall? </b></div>
		    <div class="col-md-1">{{team.rockwall}}</div>
		    <div class="col-md-2"><b>Cross Rough Terrain? </b></div>
		    <div class="col-md-1">{{team.rough}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Low Bar? </b></div>
		    <div class="col-md-1">{{team.lowBar}}</div>
		    <div class="col-md-2"><b>Scale? </b></div>
		    <div class="col-md-1">{{team.scale}}</div>
		</div>
	 </div> 
<h4> Who was considering allying them?</h4>
{{team.teamAlliances}}<br>
<h4> Would they ally us? :</h4> {{team.teamAlly174}}<br>
<h4> Was it their first year? :</h4> {{team.teamFirstYear}}<br>
<h4> Was their robot operational? :</h4> {{team.teamOperational}}<br>
<h4> Any operation problems? :</h4> <br>
{{team.teamOperationProblems}}<br>
</body>
</html>