<html>
<head>

{% load staticfiles %}
<script src="{% static 'Scouting2016/jquery-2.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2016/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2016/style.css' %}" />
<script src="{% static 'Scouting2016/site.js' %}"></script>
<title>Welcome!</title>
</head>

<body>
<table>
	<th> User Authentication </th>
	<tr>
	<td> User </td>
	<td> <input type="text" value="username">
	</tr>
	<tr>
	<td> Password: </td>
	<td> <input type="password" value = password"> </td>
	</tr>
</table>
</body>
</html>