<html>
<head>

{% load staticfiles %}
{% include "Scouting2016/standard_header.html" %}
<title>Team {{ team_number }}</title>
</head>
<style>
table {
	text-align: center;
}
</style>
<body>

    {% include "Scouting2016/banner.html" %}
    <h1>Team {{ team.teamNumber }}</h1>
    <B> Team Website </B> <a href="{{team.homepage}}" target="_blank">{{team.homepage}}</a><br>

<h1>Matches Information:</h1>

{% if score_result_list|length == 0 %}
No matches scouted
{% else %}
 <h2>Matches Scouted:</h2>
  <ul>
  {% for sr in score_result_list %}
     <li><a href="{% url 'Scouting2016:match_display' sr.match.matchNumber %}">{{ sr.match.matchNumber }}</a></li>
  {% endfor %}
  </ul>
{% endif %}
     	
  <h2>Pictures</h2>
    
    {% if "auth.can_add_pictures" in perms %}
    <form action="{% url 'Scouting2016:upload_image' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name='team_number' value={{team.teamNumber}}>
        <input type="file" name='image_name' accept="image/*">
        <input type="submit">
    </form>
    {% endif %}
    {% if pictures|length != 0 %}
      {% for picture in pictures %}
    <img src="{% static picture.path %}" width='500'>
    <br></br>
      {% endfor %}
    {% else %}
    No pictures available
    {% endif %}
    <h2>Team Comments</h2>
{% if score_result_list|length == 0 %}
{% else %}
  Match Comments
  <ul>
  {% for sr in score_result_list %}
     {%if sr.comments != "" %}<li>{{sr.comments}}</li>{% endif %}
  {% endfor %}
  </ul>
{% endif %}

{% if team_comments|length != 0 %}
  Team Comments
  <ul>
  {% for comment in team_comments %}
     <li>{{comment.comment}}</li>
  {% endfor %}
  </ul>
{% endif %}


   {% if "auth.can_add_pictures" in perms %}
   <form action="{% url 'Scouting2016:add_team_comments' team.teamNumber %}" method="POST">
   {% csrf_token %}
   
  <textarea rows="8" cols="75" wrap="soft" name="team_comments" placeholder="Add Team Comments"></textarea>
  <br> <br> <input type="submit" value="Submit">
   </form>
   {% endif %}
 

    <h1>Robot Statistics</h1>
    
    <h2>Defenses Crossed:</h2>
    <b>Manipulative Defenses</b>
    
    <table border = "1">
    <th>  Defenses </th> <th> Total Times Crossed  </th>
    <tr> <td> Cheval de Frise </td> <td> {{ metrics.cheval_de_frise__sum  }} </td> </tr>
    <tr> <td> Portcullis      </td> <td> {{ metrics.portcullis__sum  }} </td>      </tr>
    <tr> <td> Sally Port      </td> <td> {{ metrics.sally_port__sum  }} </td>      </tr>
    <tr> <td> Draw Bridge     </td> <td> {{ metrics.draw_bridge__sum  }} </td>     </tr>
    </table>
    
    <br></br>
    <b>Driving Defenses</b>
    
    <table border = "1">
    <th>  Defenses </th> <th> Total Times Crossed  </th>
    <tr> <td> Ramparts      </td> <td> {{ metrics.ramparts__sum }} </td>       </tr>
    <tr> <td> Moat          </td> <td> {{ metrics.moat__sum  }} </td>          </tr>
    <tr> <td> Rock Wall     </td> <td> {{ metrics.rock_wall__sum  }} </td>     </tr>
    <tr> <td> Rough Terrain </td> <td> {{ metrics.rough_terrain__sum  }} </td> </tr>
    <tr> <td> Low Bar       </td> <td> {{ metrics.low_bar__sum  }} </td>       </tr>
    </table>

	<h2>Goals Scored</h2>

	<table border = "1">
	<tr><th></th><th>Average Scored</th><th>Average Missed</th><th>Autonomous</th></tr>
	<tr><td>Low Goal</td><td> {{ metrics.low_score_successful__avg }} </td><td>  {{ metrics.low_score_fail__avg }}  </td><td> {{metrics.auto_score_low__avg}} </td>    </tr>
	<tr><td>High Goal</td><td> {{ metrics.high_score_successful__avg }} </td><td>  {{ metrics.high_score_fail__avg }}  </td><td> {{metrics.auto_score_high__avg}} </td></tr>
</table>

<h2>Additional Info.</h2>
<h3>Tech fouls: {{metrics.score_tech_foul__sum}}</h3></b>


<h2> Pit Scouting </h2>
{% if team.teampitscouting == None %}
No information available
{% else %}
<h4> Was the team organized? </h4>
{{team.teampitscouting.teamOrganized}}<br>
<h4> Was the team likeable?  </h4>
{{team.teampitscouting.teamLikeable}}<br>
<h4> What could the robot do in autonomous? </h4>
{{team.teampitscouting.teamSwag}}<br>
<h4> What could the robot do?</h4>
	<div class="container-fluid">
		<div class="row">
     		<div class="col-md-2"><b>Drive Exceptionally? </b></div>
     		<div class="col-md-1">{{team.teampitscouting.drive}}</div>
		    <div class="col-md-2"><b>Have Autonomous? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.Auto}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Score High? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.ScoreHigh}}</div>
		    <div class="col-md-2"><b>Score Low? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.ScoreLow}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Portcullis? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.portcullis}}</div>
		    <div class="col-md-2"><b>Cross CDF? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.cheval}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Moat? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.moat}}</div>
		    <div class="col-md-2"><b>Cross Ramparts? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.ramparts}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Sally Port? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.sally}}</div>
		    <div class="col-md-2"><b>Cross Draw Bridge? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.drawbridge}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Rock Wall? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.rockwall}}</div>
		    <div class="col-md-2"><b>Cross Rough Terrain? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.rough}}</div>
		</div>
		<div class="row">
		    <div class="col-md-2"><b>Cross Low Bar? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.lowBar}}</div>
		    <div class="col-md-2"><b>Scale? </b></div>
		    <div class="col-md-1">{{team.teampitscouting.scale}}</div>
		</div>
	 </div> 
<h4> Who was considering allying them?</h4>
{{team.teampitscouting.teamAlliances}}<br>
<h4> Would they ally us? :</h4> {{team.teampitscouting.teamAlly174}}<br>
<h4> Was it their first year? :</h4> {{team.teampitscouting.teamFirstYear}}<br>
<h4> Was their robot operational? :</h4> {{team.teampitscouting.teamOperational}}<br>
<h4> Any operation problems? :</h4> <br>
{{team.teampitscouting.teamOperationProblems}}<br>
{% endif %}

</body>
</html>