<html>
<head>

{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2013/style.css' %}" />
<script src="{% static 'Scouting2013/jquery-2.2.2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Scouting2013/bootstrap.min.css' %}" />
<script src="{% static 'Scouting2013/bootstrap.min.js' %}"></script>
<script src="{% static 'Scouting2013/site.js' %}"></script>
<title>Insert Title Here</title>
</head>

<body>

{% include "Scouting2013/banner.html" %}


</body>
</html>