<html>
<head>
{% load staticfiles %}
{% include "Scouting2013/standard_header.html" %}
<script src="{% static 'Scouting2013/sorttable.js' %}"></script>
<title>Team List</title>
<style>
h2 {
	display: inline;
}
table, th {
	text-align: center;
	overflow-y: auto;
}
th > a, th > a:focus, th > a:active, th > a:visited, th > a:hover {
	text-decoration: none;
	color:black;
	outline: none;
	vertical-align: middle;
}
	.hide {
		display:none;
	}
</style>
</head>

<body>

	{% include "Scouting2013/banner.html" %}
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading" style="overflow:auto;">
				<h2>List of All Teams</h2>
				<div class="btn-group pull-right">
					<a href="#" id="col-select" class="btn btn-default">Select Columns</a>
					<a href="#" id="graph-data" class="btn btn-default">Graph Data</a>
				</div>
			</div>
			<div style="overflow-x: auto">
				<table class="sortable sortable-filterable no-manual-sort table table-hover">
					<colgroup>
                       <col id="bookmark" data-graphable=false>
						<col id="teamnum" data-graphable=false>
						<col id="low_score_successful" data-graphable=true>
						<col id="low_score_fail" data-graphable=true>
						<col id="high_score_successful" data-graphable=true>
						<col id="high_score_fail" data-graphable=true>
						<col id="auto_score_low" data-graphable=true>
						<col id="auto_score_high" data-graphable=true>
						<col id="score_tech_foul" data-graphable=true>
						<col id="cheval_de_frise" data-graphable=true>
						<col id="ramparts" data-graphable=true>
						<col id="sally_port" data-graphable=true>
						<col id="low_bar" data-graphable=true>
						<col id="rock_wall" data-graphable=true>
						<col id="draw_bridge" data-graphable=true>
						<col id="moat" data-graphable=true>
						<col id="rough_terrain" data-graphable=true>
						<col id="portcullis" data-graphable=true>
					</colgroup>
					<tr>
						<th class="col-numeric"><a role="button" tabindex=0>Bookmarked</a></th>
						<th class="col-numeric"><a role="button" tabindex=0>Team Number</a></th>
					{% for x in teams.0.metrics %}
						<th class="col-numeric"><a role="button" tabindex=0>{{x.0}}</a></th>
					{% endfor %}
					</tr>
					{% for team in teams %}
						
					<tr>
							<td style="{% if team.bookmark == 'yes' %}background-color:#ff5a14; color:white;{% endif %}">{{team.bookmark}}</td>
							<td> <a href="{% url 'Scouting2013:view_team' regional_code team.teamNumber %}">{{ team.teamNumber }}</a></td>
							
					       {% for x in team.metrics %}
						   <td>{{x.1}}</td>
					       {% endfor %}
					</tr>

					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<!-- Modal for graph, shown through sorttable.js -->
	<div class="modal fade" id="team-data-graph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Team Data Graph</h4>
				</div>
				<div class="modal-body">
					<img id ="tdgimg" src="">
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>