<form>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Column Type </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Column Type </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Column Type </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column 
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                    <label class="checkbox text-center">
                        <input type="checkbox" /> Column
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>