<html>
<head>

{% load staticfiles %}
{% include "Scouting2016/standard_header.html" %}
<title>Scouting Pit - Edit</title>
</head>

<body>

	{% include "Scouting2016/banner.html" %}
	
	<script>
	function incrementValue(a)
	{
	    var value = parseInt(document.getElementById(a).value, 10);
	    value = isNaN(value) ? 0 : value;
	    value++;
	    document.getElementById(a).value = value;
	}
	function decrementValue(a)
	{
	    var value = parseInt(document.getElementById(a).value, 10);
	    value = isNaN(value) ? 0 : value;
	    value--;
	    document.getElementById(a).value = value;
	}
	</script>

	<form action="{% url 'Scouting2016:show_add_pit' %}" method="get">
	 <div class="container-fluid">
    	<div class="page-header">
      		<h1 class="text-center">
        		Edit Pit Sheet For:
      		</h1>
    	</div>
     	<div class="row">
     		<div class="col-md-2">
    			<span >Team Number: </span>
    		</div>
     		 <div class="col-md-4">
     			<span > <button type="button" onclick="decrementValue('team_number')">-</button> </span>
        		<span > <input type="number" id="team_number" name="team_number" value="174"> </span>
        		<span ><button type="button" onclick="incrementValue('team_number')">+</button></span>
     		 </div>
     	</div>
		<br> <br> 
		<div class="row">
      		<div class="col-md-4">
        		<div ><input type="submit" value="Submit"> </div>
     		 </div>
     	</div>
     </div>
	</form>
</body>
</html>