<html>
<head>

{% load staticfiles %}
{% include "Scouting2016/standard_header.html" %}
<title>Home</title>
</head>
<style>
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
</style>
<body>


{% include "Scouting2016/banner.html" %}

<div class="container-fluid">
	<h1 class="text-center"> WELCOME TO TEAM 174 SCOUTING WEBSTIE </h1>
    <h2> For the {{ competition.name }} Competition</h2>

    {% if our_metrics != None %}
      <h3>Our Metrics</h3>
      {% for metrics in our_metrics %}
        {{ metrics.0 }}: {{ metrics.1 }}
      {% endfor %}
    
    {% endif %}
    
    {% if competition_metrics != None %}
    
    
      {% for metrics_pair in competition_metrics %}    
          <h3>Top teams for {{ metrics_pair.0 }}</h3>
          <table>
        {% for result_pair in metrics_pair.1 %}
          <tr><td><a href='{% url 'Scouting2016:view_team' regional_code result_pair.0 %}'>Team {{ result_pair.0 }}</a>:</td><td>{{ result_pair.1 }}</td></tr>
        {% endfor %}
        </table>
      {% endfor %}
    {% endif %}
     
</div>


</body>
</html>