<html>

<head>
{% load staticfiles %}
{% include "Scouting2016/standard_header.html" %}
<title>Scaling</title>
<style> 
	ul.list-group{
		margin-bottom: 1px;
	}
</style>
</head>

<body>

{% include "Scouting2016/banner.html" %}
<div class="container-fluid">
	<h1> Scaling </h1>
	  <div class="row">
      <div class="col-md-6">
      	<h2> Mechanical System Information</h2>
			<ul class="list-group">
			          <li class="list-group-item">
			            <b>Compact lifting system</b>
			            <ul class="list-group">
			            	<li class="list-group-item">
			            	Goes under the low bar
			            	</li>
			            </ul>
			          </li>
			          <li class="list-group-item">
			            <b>Uses 2 VEX-Pro BAG motors</b>
			          </li>
			          <li class="list-group-item">
			            <b>Relies on two additional spring loaded hooks for locking after power cut-off</b>
			            <ul class="list-group">
			            	<li class="list-group-item">
			            	Does not rely on motor break
			            	</li>
			            </ul>
			          </li>
			          <li class="list-group-item">
			            <b>All chain driven</b>
			            <ul class="list-group">
			            	<li class="list-group-item">
			            	No danger of broken belts
			            	</li>
			            </ul>
			          </li>
			          <li class="list-group-item">
			            <b>Uses 2 high-strength cables to keep back of the robot up.</b> 
			          </li>
			        </ul>
		</div>
		<div class="col-md-6">
      	<h2> Ability</h2>
			<ul class="list-group">
			          <li class="list-group-item">
			            <b>100% Accuracy based on driver practice</b>
			          </li>
			          <li class="list-group-item">
			            <b>100% Ability to consistantly go under low bar</b>
			          </li>
			          <li class="list-group-item">
			            <b>Average lift time: 9-10 seconds (estimate)</b>
			            <ul class="list-group">
			            	<li class="list-group-item">
			            	Driver indexing: 5 seconds
			            	</li>
			            	<li class="list-group-item">
			            	Mechanical Lifitng : 3-4 seconds
			            	</li>
			            </ul>
			        </ul>
		</div>
		</div>
</div>
</body>
</html>