<html>
<style>
table{ 

}
th{
	text-align: center;
	width: 100px;
	height: 45px;
	vertical-align: middle;
}
td{
	text-align: center;
	height: 30px;
	vertical-align: middle;
}
</style>
<head>
{% load staticfiles %} 
{% include "Scouting2017/standard_header.html" %}
<title> Scouting Web </title>
</head>
<body>
{% include "Scouting2017/banner.html" %}
	<div class="fluid_container">
		<table border = "1">
			<th width=75> Team # </th>
			<th width=75> Gears </th>
			<th width=75> Fuel </th>
			<th width=75> Rope </th>
			<th width=75> Bookmarked? </th>
			<th width=75> High Fuel </th>
			<th width=75> Low Fuel </th>
			<th width=75> Gear Score </th>
			{% for team in teams %}
			<tr>
			
				<td> <a href="{% url 'Scouting2017:view_team' regional_code team.teamNumber %}">{{ team.teamNumber }}</a> </td>
				<td> <img src="{% static 'scouting2017/icons/gear.png' %}" style="width:50px;"> </img> </td>
				<td> <img src="{% static 'scouting2017/icons/fuel.png' %}" style="width:50px;"> </img></td>
				<td> <img src="{% static 'scouting2017/icons/rope.png' %}" style="width:50px;"> </img> </td>
				<td>  <img src="{% static 'scouting2017/icons/star.png' %}" style="width:50px;"> </img> </td>
				<td> {{ team.metrics.fuel_score_hi__avg }} </td>
				<td> {{ team.metrics.fuel_score_low__avg }} </td>
				<td> {{ team.metrics.gears_score__avg }} </td>
				<!-- Make a good looking table using this, is the hope. -->
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>