<html>
<head>
{% load staticfiles %} 
{% include "Scouting2017/standard_header.html" %}
<title> Scouting Web </title>
</head>
<body>
{% include "Scouting2017/banner.html" %}
	<div class="fluid_container">
		<table border="1">
			<th width=50> Team # </th>
			<th width=50> Gears </th>
			<th width=50> Fuel </th>
			<th width=50> Rope </th>
			<th width=50> Bookmarked? </th>
			<th width=50> High Fuel </th>
			<th width=50> Low Fuel </th>
			<th width=50> Gear Score </th>
			{% for team in teams %}
			<tr>
			
				<td> {{ team.teamNumber }} </td>
				<td> ICON </td>
				<td> ICON </td>
				<td> ICON </td>
				<td> ICON </td>
				<td> {{ team.metrics.fuel_score_high }} </td>
				<td> {{ team.metrics.fuel_score_low__avg }} </td>
				<td> {{ team.gears_score__avg }} </td>
				<td> {{ team.metrics }} </td>
				<!-- Make a good looking table using this, is the hope. -->
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>