
{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
  <title>Match Entry - Arctic Warriors Scouting</title>
  <style>
      .left {
          margin-left:10px;
      }
      .right {
          margin-right:10px;
      }
      .left, .right, .third {
          margin-bottom:10px;
          text-align:center;
      }
      .textbox {
          margin-bottom:10px;
      }
      .baseline {
          justify-content:center;
      }
      .comment-label {
          padding-top:20px;
          font-size:1.8em;
      }
      #scoreresult {
          margin-bottom:5px;
      }
      #autonomous-head, #teleop-head {
          text-align:center;
          padding-top:5px;
          margin-top:5px;
          margin-bottom:10px;
          background-color:lightgray;
          height:2em;
          font-size:1.5em;
      }
      #match-label {
          text-align:center;
      }
      .check {
          font-size:1.3em;
          font-weight:800;
      }
      .input-group span, .input-group input {
          height:70px;
          font-size:2em;
      }
      .btn {
          height:70px;
          font-size:.5em;
          width:50px;
      }
      input[type='checkbox'] {
          -webkit-appearance:none;
          width:50px;
          height:50px;
          background:white;
          border-radius:9px;
          border:2px solid #555;
      }
      input[type='checkbox']:checked {
          background: #abd;
      }
      textarea {
          border-width:2px;
          border-color:black;
          border-radius:8px;
          font-size:1.5em;
          width:100%;
          height:200px;
      }
    button{
          font-weight:800;
    }
    .card-header{
      background-color:gray;
      border: solid 2px black;
      border-radius:5px;
      margin-left:5px;
      margin-right:5px;
      margin-top:5px;
      text-align:center;
    }
    .card-header a{
      color:white;
    }
    #collapseOne{
      margin-left:6px;
      margin-right:6px;
    }
    .bottom-row{
      margin-top:10px;
    }
    .bottom-row button{
      width:100%;
      font-size:2.5em;
      font-weight:800;
    }

  </style>
  <script type="text/html" id="card-template"> 
	  <div class=card> <!-- Entry -->
          <div class=card-header role=tab id=headingOne> <!-- The part that is always visible and you click on -->
              <h1 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="sr-header" name="sr-header-__i__>
                      Team X Match X 
                  </a>
              </h1>
          </div>

          <div id="collapseOne" class="collapse" role=tabpanel aria-labelledby=headingOne>
              <div class=card-block> <!-- The part that toggles visible -->

                  <div id="scoreresult"> <!-- Team and match # -->
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group team-no left">
                              <span class="input-group-addon" id="team-no-addon"><b>Team #</b></span>
                              <input type="number" class="form-control" aria-describedby="team-no-addon" placeholder="174" id="teamNumber" name="teamNumber-__i__"></input>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group match-no right">
                              <span class="input-group-addon" id="match-no-addon"><b>Match #</b></span>
                              <input type="number" class="form-control" aria-describedby="match-no-addon" placeholder="5" id="matchNumber" name="matchNumber-__i__"></input>
                          </div>
                      </div>
                  </div>

                  <div id="autonomous"> <!-- All autonomous things -->
                      <div class="col-sm-12 col-xs-12" id="autonomous-head">
                          <b> Autonomous: </b>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-gear-s left">
                              <span class="input-group-addon" id="auto-gear-s-addon"><b>Gears</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-gear-s-addon" placeholder="0" id="autoGears" name="autoGears-__i__"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-gear-f right">
                              <span class="input-group-addon" id="auto-gear-f-addon"><b>Failed</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-gear-f-addon" placeholder="0" id="autoGearsF" name="autoGearsF-__i__"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-fuel left">
                              <span class="input-group-addon" id="auto-fuel-addon"><b>High Fuel</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-fuel-addon" placeholder="0" id="autoFuelHighMade" name="autoFuelHighMade-__i__"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-hopper right">
                              <span class="input-group-addon" id="auto-hopper-addon"><b>Hoppers</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-hopper-addon" placeholder="0" id="autoHoppers" name="autoHoppers-__i__"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third comment-label"> 
                          <b> Comments: </b> 
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="baseline check">
                              <input type="checkbox" id="autoBaseline" name="autoBaseline-__i__">
                              <p>Baseline:</p>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="no-auto check">
                          <input type="checkbox" id="autoOff" name="autoOff-__i__">
                          <p>No Auto:</p>
                      </div>
                  </div>
                  <div class="col-sm-12 col-xs-12">
                      <textarea class="textbox" id="autoNotes" name="autoNotes-__i__"></textarea>
                  </div>
              </div>
              <!-- Look. Don't ask me why this div end tag is left of the div start tag immediately after it.
              I wrote it and I don't understand. The code works and this is far too long to re-format all of it
              for the third time and you'll likely see it -->

                  <div id="teleop"> <!-- All teleop things -->
                  <div class="col-sm-12 col-xs-12" id="teleop-head">
                      <b> Tele-operated: </b>
                  </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-gear-s left">
                                  <span class="input-group-addon" id="tele-gear-s-addon"><b>Gears</b></span>
                                  <input type="number" class="form-control" aria-describedby="tele-gear-s-addon" placeholder="0" id="teleGears" name="teleGears-__i__"></input>
                                  <span class="input-group-btn">
                                      <button class="btn btn-secondary" type="button"> + </button>
                                      <button class="btn btn-secondary" type="button"> - </button>
                                  </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-gear-f right">
                              <span class="input-group-addon" id="tele-gear-f-addon"><b>Failed</b></span>
                              <input type="number" class="form-control" aria-describedby="tele-gear-f-addon" placeholder="0" id="teleGearsF" name="teleGearsF-__i__"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-fuel left">
                              <span class="input-group-addon" id="tele-fuel-addon"><b>High Fuel</b></span>
                              <input type="number" class="form-control" aria-describedby="tele-fuel-addon" placeholder="0" id="teleFuelHighScore" name="teleFuelHighScore-__i__"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-hopper right">
                              <span class="input-group-addon" id="tele-hopper-addon"><b>Hoppers</b></span>
                              <input type="number" class="form-control" aria-describedby="tele-hopper-addon" placeholder="0" id="hoppersDumped" name="hoppersDumped-__i__"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third comment-label">
                           <b> Comments: </b> 
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="rope-climb check">
                              <input type="checkbox" id="ropeClimbed" name="ropeClimbed-__i__">
                              <p>Rope Success</p>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="rope-fail check">
                              <input type="checkbox" id="ropeFailed" name="ropeFailed-__i__">
                              <p>Rope Fail</p>
                          </div>
                      </div>
                      <div class="col-sm-12 col-xs-12">
                          <textarea id="comments" name="comments-__i__"></textarea>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="add-submit"> <!-- The buttons not in any row that just sit at the bottom -->
        <div class="col-xs-6 col-sm-6 bottom-row">
          <button class="btn btn-secondary" type="button"> Add Row </button>
        </div>
        <div class="col-xs-6 col-sm-6 bottom-row">
          <button class="btn btn-secondary" type="button"> Submit </button>
        </div>
      </div>
	</script>
{% endblock head%}
{% block content %}
  <div id=accordion role=tablist aria-multiselecttable=true> <!-- Beginning of the accordion -->

      <div class=card> <!-- First top-most entry -->
          <div class=card-header role=tab id=headingOne> <!-- The part that is always visible and you click on -->
              <h1 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Team X Match X 
                  </a>
              </h1>
          </div>

          <div id="collapseOne" class="collapse" role=tabpanel aria-labelledby=headingOne>
              <div class=card-block> <!-- The part that toggles visible -->

                  <div id="scoreresult"> <!-- Team and match # -->
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group team-no left">
                              <span class="input-group-addon" id="team-no-addon"><b>Team #</b></span>
                              <input type="number" class="form-control" aria-describedby="team-no-addon" placeholder="174"></input>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group match-no right">
                              <span class="input-group-addon" id="match-no-addon"><b>Match #</b></span>
                              <input type="number" class="form-control" aria-describedby="match-no-addon" placeholder="5"></input>
                          </div>
                      </div>
                  </div>

                  <div id="autonomous"> <!-- All autonomous things -->
                      <div class="col-sm-12 col-xs-12" id="autonomous-head">
                          <b> Autonomous: </b>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-gear-s left">
                              <span class="input-group-addon" id="auto-gear-s-addon"><b>Gears</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-gear-s-addon" placeholder="0"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-gear-f right">
                              <span class="input-group-addon" id="auto-gear-f-addon"><b>Failed</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-gear-f-addon" placeholder="0"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-fuel left">
                              <span class="input-group-addon" id="auto-fuel-addon"><b>High Fuel</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-fuel-addon" placeholder="0"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group auto-hopper right">
                              <span class="input-group-addon" id="auto-hopper-addon"><b>Hoppers</b></span>
                              <input type="number" class="form-control" aria-describedby="auto-hopper-addon" placeholder="0"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third comment-label"> 
                          <b> Comments: </b> 
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="baseline check">
                              <input type="checkbox">
                              <p>Baseline:</p>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="no-auto check">
                          <input type="checkbox">
                          <p>No Auto:</p>
                      </div>
                  </div>
                  <div class="col-sm-12 col-xs-12">
                      <textarea class="textbox"></textarea>
                  </div>
              </div>
              <!-- Look. Don't ask me why this div end tag is left of the div start tag immediately after it.
              I wrote it and I don't understand. The code works and this is far too long to re-format all of it
              for the third time and you'll likely see it -->

                  <div id="teleop"> <!-- All teleop things -->
                  <div class="col-sm-12 col-xs-12" id="teleop-head">
                      <b> Tele-operated: </b>
                  </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-gear-s left">
                                  <span class="input-group-addon" id="tele-gear-s-addon"><b>Gears</b></span>
                                  <input type="number" class="form-control" aria-describedby="tele-gear-s-addon" placeholder="0"></input>
                                  <span class="input-group-btn">
                                      <button class="btn btn-secondary" type="button"> + </button>
                                      <button class="btn btn-secondary" type="button"> - </button>
                                  </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-gear-f right">
                              <span class="input-group-addon" id="tele-gear-f-addon"><b>Failed</b></span>
                              <input type="number" class="form-control" aria-describedby="tele-gear-f-addon" placeholder="0"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-fuel left">
                              <span class="input-group-addon" id="tele-fuel-addon"><b>High Fuel</b></span>
                              <input type="number" class="form-control" aria-describedby="tele-fuel-addon" placeholder="0"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                          <div class="input-group tele-hopper right">
                              <span class="input-group-addon" id="tele-hopper-addon"><b>Hoppers</b></span>
                              <input type="number" class="form-control" aria-describedby="tele-hopper-addon" placeholder="0"></input>
                              <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button"> + </button>
                                  <button class="btn btn-secondary" type="button"> - </button>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third comment-label">
                           <b> Comments: </b> 
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="rope-climb check">
                              <input type="checkbox">
                              <p>Rope Success</p>
                          </div>
                      </div>
                      <div class="col-sm-4 col-xs-4 third">
                          <div class="rope-fail check">
                              <input type="checkbox">
                              <p>Rope Fail</p>
                          </div>
                      </div>
                      <div class="col-sm-12 col-xs-12">
                          <textarea></textarea>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="add-submit"> <!-- The buttons not in any row that just sit at the bottom -->
        <div class="col-xs-6 col-sm-6 bottom-row">
          <button class="btn btn-secondary" type="button"> Add Row </button>
        </div>
        <div class="col-xs-6 col-sm-6 bottom-row">
          <button class="btn btn-secondary" type="button"> Submit </button>
        </div>
      </div>
  </div>
{% endblock content %}