{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
	<title>Match Entry - Arctic Warriors Scouting</title>
	
	<style>
		tr:nth-child(even) {background-color: #f2f2f2}
	</style>
	
	<script type="text/javascript">
		function addRow(){
			var numCols = $("#entry-table tr th").length;
			var row = "<tr>";
			// button for adding rows
			for(var i=0; i<numCols; i++){
				row += '<td contenteditable="true"></td>';
			}
			
			row += "</tr>";
			
			$("#entry-table").append(row);	
		}
	</script>
{% endblock head %}

{% block content %}
	<table id="entry-table" class="table">
			<thead>
			<tr>
					<th>Team Number</th>
					<th>Match Number</th>
					<th>Auto Baseline</th>
					<th>High Fuel Shot</th>
					<th>Low Fuel Shot</th>
					<th>High Fuel Score</th>
					<th>Low Fuel Score</th>
					<th>Gear Score</th>
					<th>Rope Climbed</th>
					<th>Delete</th>	
				</tr>
			</thead>
			<tbody>
				<tr>
					<td contenteditable="true"></td>
					<td contenteditable="true"></td>
					<td contenteditable="true"></td>
					<td contenteditable="true"></td>
					<td contenteditable="true"></td>
					<td contenteditable="true"></td>	
					<td contenteditable="true"></td>
					<td contenteditable="true"></td>
					<td contenteditable="true"></td>
					<td contendeditable="true"><button>&times;</button></td>
				</tr>
			</tbody>	
		</table>
		<button type="button" class="btn btn-default" onclick="addRow()">Add Row </button>
{% endblock content %}
