{% extends 'BaseScouting/match.html' %}
{% load staticfiles %}

{% block stats %}

{% for color, alliance_info in alliances.items %}
<div class="panel panel-default">
    <div class="panel-heading" style="overflow:auto;">
        <h2>{{color}} Alliance</h2>
    </div>

    <div style="overflow-x: auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Teams</th>
                    <th> Auto Gear </th>
                    <th> Auto Fuel</th>
                    <th> Tele Gear </th>
                    <th> Tele Fuel</th>
                    <th> Climbed</th>
                </tr>
            </thead>

            {% for sr in alliance_info.score_results %}
            {% if sr.team %}
            <tr>
                <td><a href="{% url 'Scouting2017:view_team' regional_code sr.team.teamNumber %}">{{ sr.team.teamNumber }}</a></td>
                <td id="edit_{{ sr.team.teamNumber }}_auto_gears">{{ sr.auto_gears }}</td>
                <td id="edit_{{ sr.team.teamNumber }}_auto_fuel_high_score">{{ sr.auto_fuel_high_score }}</td>
                <td id="edit_{{ sr.team.teamNumber }}_tele_gears">{{ sr.tele_gears }}</td>
                <td id="edit_{{ sr.team.teamNumber }}_tele_fuel_high_score">{{ sr.tele_fuel_high_score }}</td>
                <td id="edit_{{ sr.team.teamNumber }}_rope">{{ sr.rope }}</td>
            </tr>
            
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endfor %}



{% endblock stats %}