{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}
	<title>Match Entry - Arctic Warriors Scouting</title>
	
	<style>
		tr:nth-child(even) {background-color: #f2f2f2}
	</style>
	
	<script type="text/template" id="row-template"> 
		<tr>
			<td><input type="number" id = "teamNumber" name="teamNumber-__i__" value=0 style="text-align:center;"></td>
			<td><input type="number" id = "matchNumber" name="matchNumber-__i__" value=0 style="text-align:center;"></td>
			<td style="text-align:center;"><input type="checkbox" id = "autoBaseline" name="autoBaseline-__i__" ></td>			
			<td><input type="number" id = "highFuelShot" name="highFuelShot-__i__" value=0 style="text-align:center;"></td>
			<td ><input type="number" id = "lowFuelShot" name="lowFuelShot-__i__" value=0 style="text-align:center;"></td>
			<td ><input type="number" id = "highFuelScore" name="highFuelScore-__i__" value=0 style="text-align:center;"></td>	
			<td ><input type="number" id = "lowFuelScore" name="lowFuelScore-__i__" value=0 style="text-align:center;"></td>
			<td ><input type="number" id = "autoGear" name="autoGear-__i__" value=0 style="text-align:center;"></td>
			<td style="text-align:center;"><input type="checkbox" id = "ropeClimbed" name="ropeClimbed-__i__"></td>
			<td style="text-align:center;"><input type="checkbox" id = "toucPad" name="touchPad-__i__"></td>
			<td style="text-align:center;"><input type="checkbox" id = "defesnive" name="defesnive-__i__"></td>
			<td><input type="number" id = "lowBoiler" name="lowBoiler-__i__" value=0 style="text-align:center;"></td>
			<td><input type="number" id= "highBoiler" name="highBoiler- __i__ value=0 style"text-align:center;"></td>
			<td style="text-align:center;"><input type="checkbox" id = "gearScore" name="gearScore-__i__"></td>
			<td><textarea rows="1" cols="50"></textarea></td>
			<td><button type="button" class="btn btn-default" onclick="deleteRow(this)">Delete</button></td>
		</tr>
	</script>
	
	<script type="text/javascript">
		i=0;
		function addRow(){
			$("#entry-table tbody").append($("#row-template").html().replace(/__i__/g, i));
			i++;
		}
	
		$(function(){
			addRow();
		});
	</script>

	<script type="text/javascript">
	function deleteRow(buttonel){
		$(buttonel).parent().parent().remove();
	}
	
	
	
	
	</script>
{% endblock head %}

{% block content %}
	<div style="overflow-x: scroll;">
		<form action="{% url 'Scouting2017:submit_new_match' regional_code %}" method="post" ></form>
		{% csrf_token %}
		<table id="entry-table" class="table" style="margin: 0;">
			<thead>
				<tr>
						<th style="text-align:center;">Team Number</th>
						<th style="text-align:center;">Match Number</th>
						<th style="text-align:center;">Auto Baseline</th>
						<th style="text-align:center;">High Fuel Shot</th>
						<th style="text-align:center;">Low Fuel Shot</th>
						<th style="text-align:center;">High Fuel Score</th>
						<th style="text-align:center;">Low Fuel Score</th>
						<th style="text-align:center;">Auto Gear</th>
						<th style="text-align:center;">Rope Climbed</th>
						<th style="text-align:center;">Touch Pad</th>
						<th style="text-align:center;">Defensive</th>
						<th style="text-align:center;">Low Boiler</th>
						<th style="text-align:center;">High Boiler</th>
						<th style="text-align:center;">Gear Score</th>
						<th style="text-align:center;">Notes</th>
						<th style="text-align:center;">Delete</th>
					</tr>
				</thead>
				<tbody>
				</tbody>	
			</table>
		</div>
		<button type="button" class="btn btn-default" onclick="addRow()">Add Row </button>
		<button type="submit" value="submit" class="btn btn-default" >Submit </button>
		</form>
		
		
{% endblock content %}
