<html>
<head>
{% load staticfiles %}
{% include "BaseScouting/core_head.html" %} 
{% include "Scouting2017/standard_header.html" %}
<title> Insert title here </title>
</head>
<body>
	{% include "Scouting2017/banner.html" %}
		
	<table>
		<tr>
			<th>Auto Baseline</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			
		</tr>
		<tr>
			<td contenteditable="true"></td>
		</tr>
	
		
		
	
	</table>
	
	<h1 style="text-align: center;">insert header</h1>
	{# centering the text #}
	
	
</body>
</html>

