{% extends 'BaseScouting/base.html' %}
{% load staticfiles %}

{% block head %}

<style>
td{
    text-align: center;
    cursor: move;
}

</style>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript">

var changed = false;
var top_teams = {{top_teams|safe}}

window.onbeforeunload = function(event) {
    if(changed)
    {
        return 'You have unsaved changes?';
    }
};

//http://stackoverflow.com/questions/25093983/jquery-sortable-ui-remove-item-when-is-dragged-to-a-specific-div
$(document).ready(function () {
    
    $(".sortableList").sortable({
        update: function(event, ui) {
            $('.sortableList tr').each(function() {
                var first_col = $(this).children('td:first-child')
                first_col.css("display", "");
                first_col.html($(this).index() + 1)
                changed = true;
            });
        },
        
        drop: function(event, ui) {
            console.log("Dropping")
        },
    });
    $(".draggable").draggable({
        connectToSortable: '.sortableList',
        cursor: 'pointer',
        helper: 'clone',
        revert: 'invalid'
    });
    
    $('.droppableArea').droppable({
        accept: 'tr',
        drop: function(event, ui) {
            ui.helper.remove();
            changed = true;
        }
    });
});

function populateTableResults(table_name, teams)
{
    $('#' + table_name + " tr").remove()

    $.each(teams, function(index, value) {
        $('#' + table_name).append(
                "<tr>" + 
                "<td>" + (index + 1) + "</td>" + 
                "<td>" + value + "</td>" + 
                "</tr>");
    });
}


function getTableResults(table_name)
{
    output = []
    $('#' + table_name + ' tr').each(function() {
        var rank = $(this).children('td:eq(0)').text()
        var team = $(this).children('td:eq(1)').text()
        output.push([rank, team])
    });

    return output
}

function submitChanges()
{
    changed = false;

    console.log("Saving changes")
    
    pick_list = {}

    pick_list["Overall"] = getTableResults("overall")
    pick_list["Fuel"] = getTableResults("fuel")
    pick_list["Gear"] = getTableResults("gear")
    pick_list["Defense"] = getTableResults("defense")
    pick_list["Do Not Pick"] = getTableResults("do_not_pick")
    pick_list = JSON.stringify(pick_list)
    
    
    data = {}
    data['csrfmiddlewaretoken'] = '{{ csrf_token}}';
    data['pick_list'] = pick_list;
    //data = JSON.stringify(data)
    
    $.ajax(
    {
        type: "POST",
        url: "{% url 'Scouting2017:submit_pick_list' regional_code %}",
        data: data,
        success: function(msg) 
        {
            if(!msg["success"])
            {
                alert("Failed to submit pick list")
            }
            else
            {
                console.log("Changes complete")
            }
        }
    });
}

function loadTopTeams()
{
    populateTableResults("overall", top_teams["overall"])
    populateTableResults("fuel", top_teams["fuel"])
    populateTableResults("gear", top_teams["gear"])
    populateTableResults("defense", top_teams["defense"])
    populateTableResults("do_not_pick", top_teams["do_not_pick"])
}


</script>

{% endblock head %}

{% block content %}

<button onclick="submitChanges();">Submit Changes</button>
<button onclick="loadTopTeams();">Re-populate</button>

<div class = "row">
    <div class="col-md-6">
    
        <div class="droppableArea panel-heading" style="text-align: center;"><h2>Top 24</h2></div>
        <div style="overflow-x: auto">
            <table id="overall" class="table table-hover">
                <tbody class="sortableList">
                    {% for pick_list in original_overall_list %}
                    <tr><td style="width:20px">{{forloop.counter}}</td><td> <a href="{% url 'Scouting2017:view_team' regional_code pick_list.team.teamNumber %}">{{ pick_list.team.teamNumber }}</a></td></tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
    </div>
    

    <div class="col-md-6">
        <div class="droppableArea panel-heading" style="text-align: center;"><h2>DO NOT PICK</h2></div>
        <div style="overflow-x: auto">
            <table id="do_not_pick" class="table table-hover">
                <tbody class="sortableList">
                  {% for pick_list in original_dnp_list %}
                  <tr><td style="width:20px">{{forloop.counter}}</td><td> <a href="{% url 'Scouting2017:view_team' regional_code pick_list.team.teamNumber %}">{{ pick_list.team.teamNumber }}</a></td></tr>
                  {% endfor %}
                </tbody>  
            </table>
        </div>
    </div>
</div>

<div class = "row">
    <div class="col-md-4">
        <div class="droppableArea panel-heading" style="text-align: center;"><h2>Fuel</h2></div>
        <div style="overflow-x: auto">
            <table id="fuel" class="table table-hover">
                <tbody class="sortableList">
                    {% for pick_list in original_fuel_list %}
                    <tr><td style="width:20px">{{forloop.counter}}</td><td><a href="{% url 'Scouting2017:view_team' regional_code pick_list.team.teamNumber %}">{{ pick_list.team.teamNumber }}</a></td></tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="droppableArea panel-heading" style="text-align: center;"><h2>Gears</h2></div>
        <div style="overflow-x: auto">
            <table id="gear" class="table table-hover">
                <tbody class="sortableList">
                    {% for pick_list in original_gear_list %}
                    <tr><td style="width:20px">{{forloop.counter}}</td><td><a href="{% url 'Scouting2017:view_team' regional_code pick_list.team.teamNumber %}">{{ pick_list.team.teamNumber }}</a></td></tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="droppableArea panel-heading" style="text-align: center;"><h2>Defense</h2></div>
        <div style="overflow-x: auto">
            <table id="defense" class="table table-hover">
                <tbody class="sortableList">
                    {% for pick_list in original_defense_list %}
                    <tr><td style="width:20px">{{forloop.counter}}</td><td> <a href="{% url 'Scouting2017:view_team' regional_code pick_list.team.teamNumber %}">{{ pick_list.team.teamNumber }}</a></td></tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
    </div>
</div>


<div class = "droppableArea">
<br>
</div>

<div class = "row">
    <div class="col-md-12">
        <div class="droppableArea panel-heading" style="text-align: center;"><h2>All Teams</h2></div>
        <div style="overflow-x: auto">
            <table class="table table-hover">
                {% for team in all_teams %}
                  <tr class="draggable"><td style="display:none;">XX</td><td> <a href="{% url 'Scouting2017:view_team' regional_code team.teamNumber %}">{{ team.teamNumber }}</a></td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
    
    
{% endblock content %}