<html>
<head>

{% load staticfiles %}
{% include "Scouting2017/standard_header.html" %}
<title>Edit Pit Form</title>
</head>
<body>

{% include "Scouting2017/banner.html" %}
<form action="{% url 'Scouting2017:submit_new_pit' regional_code %}" method="post">
	{% csrf_token %}
		<p> Team number </p>
			<input type="number" name="team_number"  value="{{team.teamNumber}}" readonly> 
			
		<p> Was the team pit functional? Are they organized? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_organized">{{team.teampitscouting.teamOrganizedFunctional}} </textarea>
			
		<p> Could their robot hold fuel? How much fuel could their robot hold? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_fuel_capacity">{{team.teampitscouting.teamFuelCapacity}} </textarea>
			
		<p> Could their robot acquire and score gears? How? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_gears">{{team.teampitscouting.teamGears}} </textarea>
			
		<p> What is their strategy? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_strategy">{{team.teampitscouting.teamStrategy}} </textarea>
			
		<p> What size constraint robot are they? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_size">{{team.teampitscouting.teamSize}} </textarea>
			
		<p> In what ways can they acquire fuel? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_acquire_fuel">{{team.teampitscouting.teamFuelAcquire}} </textarea> 
			
		<p> Should we consider being in an alliance with them, based on strategy? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_alliance_strategy">{{team.teampitscouting.teamAllianceStrategy}} </textarea>
			
		<p> Should we consider being in an alliance with them, based on competence? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_alliacne_competence">{{team.teampitscouting.teamAllanceCompetent}} </textarea>
			
		<p> Are they competent? Are they confident?</p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_competent_confident">{{team.teampitscouting.teamCompetnetConfident}} </textarea>
			
			<p> Have they been in other competitions? If applicable have they been on the leaderboard before? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_Misc">{{team.teampitscouting.teamCompetitions}} </textarea>
			
		<p> Anything else? </p>
			<textarea rows="8" cols="75" wrap="soft" name="notes_Misc">{{team.teampitscouting.teamRandom}} </textarea>
		
		
</form>
</body>
</html>