<html>
<head>
{% load staticfiles %} 
{% include "Scouting2017/standard_header.html" %}
<title> Insert title here </title>
</head>
<body>
{% include "Scouting2017/banner.html" %}

<form>

	<p>Is their team nice? Would you want to work on an alliance with them?</p>
	<textarea rows="8" cols="75" name="notes_nice" wrap="soft" placeholder="enter if they were nice"></textarea>
	<p>Do they know what they are doing?</p>
	<textarea rows="8" cols="75" name="notes_competent" wrap="soft" placeholder="enter if they know how to do the do"></textarea>
	<p>Do they believe in their own capabilities? Will they buckle under pressure?</p>
	<textarea rows="8" cols="75" name="notes_confident" wrap="soft" placeholder="enter if they're confident"></textarea>
	<p>What is their strategy?</p>
	<textarea rows="8" cols="75" name="notes_strategy" wrap="soft" placeholder="enter their strategy"></textarea>
	<p>How much fuel can their robot hold?</p>
	<input type="number" name="fuel_capacity"></input>
	<p>What can they do in Autonomous?</p>
	<textarea rows="8" cols="75" name="notes_Auto" wrap="soft" placeholder="enter ehat they can do in Autonomous"></textarea>
	<p>misc.</p>
	<textarea rows="8" cols="75" name="notes_misc." wrap="soft" placeholder="enter misc."></textarea>
	
	<!-- need PJ to make form work -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</form>



</body>
</html>
