{% load staticfiles %} 

<html>
<head>
{% include "BaseScouting/base.html" %}
<title>Teams - Arctic Warriors Scouting</title>
    
<style>
table{ 

}
th{
    text-align: center;
    height: 45px;
    vertical-align: middle;
}
td{
    text-align: center;
    height: 30px;
    vertical-align: middle;    
}

.bold{
    font-weight: bold;
}
</style>
<script id="skills-data" type="text/json">
    {{skills|safe}}
</script>
<script type="text/javascript">
    function skills(){
        var skills = $('th:contains(Skills)').index() //Obtains the number of the column containing the icons
        //console.log(skills)
        var zCutoff = 0.675; // 80th percentile cutoff: 0.8416.  75th: 0.675. 90th: 1.282
        var skill_list = JSON.parse($("#skills-data").html()) // Grabs list of skills from backend
        for (i=0;i< skill_list.length;i++){
            /*
            The for loop grabs z-scores for each individual team, compares them to the cutoff value, and changes the icon accordingly.
            */
            console.log(skill_list[i]);
            var gear_z = skill_list[i].skills.gear_z; 
            var fuel_z = skill_list[i].skills.fuel_z;
            var rope_z = skill_list[i].skills.rope_z;
            if (gear_z > zCutoff) {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-gearz] ' ).attr('src','{% static 'Scouting2017/Icons/gear_green.png' %}')
            }
            else if (gear_z < 0-(zCutoff)) {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-gearz] ' ).attr('src','{% static 'Scouting2017/Icons/gear_red.png' %}')
            }
            else {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-gearz] ' ).attr('src','{% static 'Scouting2017/Icons/gear_yellow.png' %}')
            }
            if (fuel_z > zCutoff) {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-fuelz] ' ).attr('src','{% static 'Scouting2017/Icons/fuel_green.png' %}')
            }
            else if (fuel_z < 0-(zCutoff)) {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-fuelz] ' ).attr('src','{% static 'Scouting2017/Icons/fuel_red.png' %}')
            }
            else {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-fuelz] ' ).attr('src','{% static 'Scouting2017/Icons/fuel_yellow.png' %}')
            }
            if (rope_z > zCutoff) {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-ropez] ' ).attr('src','{% static 'Scouting2017/Icons/rope_green.png' %}')
            }
            else if (rope_z < 0-(zCutoff)) {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-ropez] ' ).attr('src','{% static 'Scouting2017/Icons/rope_red.png' %}')
            }
            else {
            $('tr:nth-child('+ (i+1) + ') td:nth-child('+ (skills+1) +') [data-ropez] ' ).attr('src','{% static 'Scouting2017/Icons/rope_yellow.png' %}')
            }
        }
    }
    
    function bookmark(team_number, bookmark_type)
    {
        $.post("{% url 'Scouting2017:update_bookmark' regional_code %}", 
            {
                csrfmiddlewaretoken: '{{ csrf_token}}' ,
                team_number: team_number,
                bookmark_type: bookmark_type
            },
            function(result)
            {
                console.log(result);
                
                if(bookmark_type == "bookmark")
                {
                    if(result.is_bookmarked)
                    {
                        document.getElementById("bookmark-" + team_number).src="{%static 'Scouting2017/Icons/star_bookmarked.png' %}"
                    }
                    else
                    {
                        document.getElementById("bookmark-" + team_number).src="{%static 'Scouting2017/Icons/star_not_bookmarked.png' %}"
                    }
                }
                else
                {
                     if(result.is_bookmarked)
                     {
                         document.getElementById("dnp-bookmark-" + team_number).src="{%static 'Scouting2017/Icons/dnp_bookmarked.png' %}"
                     }
                     else
                     {
                         document.getElementById("dnp-bookmark-" + team_number).src="{%static 'Scouting2017/Icons/dnp_not_bookmarked.png' %}"
                     }
                }
            }  
        );
    }

</script>
</head>
<body onload="skills()">
    <div class="fluid_container">
        <table border = "1" class="table">
            <thead>
                <tr>
                    <th> Team # </th>
                    <th> Skills </th>
                    {% if user.is_authenticated %}<th> Bookmarks </th> {% endif %}
                    
                    <th> Auto Gears </th>
                    <th> Auto High Fuel </th>
                    <th> Auto Low Fuel </th>
                    
                    <th> Tele Gears Scored </th>
                    <th> Tele High Fuel </th>
                    <th> Tele Low Fuel </th>
                    
                    <th> Rope Percentage </th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td> <a href="{% url 'Scouting2017:view_team' regional_code team.teamNumber %}">{{ team.teamNumber }}</a> </td>
                    <td>
                        <img data-gearz="{{team.skills.gear_z}}" src="{%static 'Scouting2017/Icons/gear_yellow.png' %}" style = "width:50px;" />
                        <img data-fuelz="{{team.skills.fuel_z}}" src="{%static 'Scouting2017/Icons/fuel_yellow.png' %}" style = "width:50px;" />
                        <img data-ropez="{{team.skills.rope_z}}" src="{%static 'Scouting2017/Icons/rope_yellow.png' %}" style = "height:50px;" />
                            
                    </td>
                    {% if user.is_authenticated %}
                    <td> 
                        {% if team.isBookmarked %}
                        <input type="image" id="bookmark-{{team.teamNumber}}" src="{%static 'Scouting2017/Icons/star_bookmarked.png' %}" style="width:20px;" onClick='bookmark({{team.teamNumber}}, "bookmark");'>
                        {% else %}
                        <input type="image" id="bookmark-{{team.teamNumber}}" src="{%static 'Scouting2017/Icons/star_not_bookmarked.png' %}" style="width:20px;" onClick='bookmark({{team.teamNumber}}, "bookmark");'>
                        {% endif %} 
                        <br>
                        {% if team.isDoNotPick %}
                        <input type="image" id="dnp-bookmark-{{team.teamNumber}}" src="{%static 'Scouting2017/Icons/dnp_bookmarked.png' %}" style="width:20px;" onClick='bookmark({{team.teamNumber}}, "do_not_pick");'>
                        {% else %}
                        <input type="image" id="dnp-bookmark-{{team.teamNumber}}" src="{%static 'Scouting2017/Icons/dnp_not_bookmarked.png' %}" style="width:20px;" onClick='bookmark({{team.teamNumber}}, "do_not_pick");'>
                        {% endif %} 
                    </td>
                    {% endif %}
                    <td> {{ team.metrics.auto_gears__avg }} </td>
                    <td> {{ team.metrics.auto_fuel_high_score__avg }} </td>
                    <td> {{ team.metrics.auto_fuel_low_score__avg }} </td>
                    
                    <td> {{ team.metrics.tele_gears__avg }} </td>
                    <td> {{ team.metrics.tele_fuel_high_score__avg }}</td>
                    <td> {{ team.metrics.tele_fuel_low_score__avg }}    </td>

                    <td> {{ team.skills.rope_pct|floatformat:2 }} %  </td>
                
                </tr>
                {% endfor %}
                <tr class="bold">
                    <td> Avg </td>
                    <td> - </td>
                    <td> - </td>
                    <td> {{stats.fuel_hi_avg|floatformat:2}} </td>
                    <td> {{stats.fuel_low_avg|floatformat:2}} </td>
                    <td> {{stats.fuel_hi_auto_avg|floatformat:2}} </td>
                    <td> {{stats.fuel_low_auto_avg|floatformat:2}} </td>
                    <td> {{stats.fuel_avg|floatformat:2}} </td>
                    <td> {{stats.gear_avg|floatformat:2}} </td>
                    <td> {{stats.rope_avg|floatformat:2}}% </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>