{% extends 'BaseScouting/team.html' %}
{% load staticfiles %}


{% block robot_stats %}

<div class = "row">
    <div class="col-md-12">
        <h2>Auto</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Gears</th>
                    <th scope="col">High Scores</th>
                    <th scope="col">High Misses</th>
                    <th scope="col">Low Scores</th>
                    <th scope="col">Low Misses</th>
                    <th scope="col">Baseline</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ metrics.auto_gears__avg }}</td>
                    <td>{{ metrics.auto_fuel_high_score__avg }}</td>
                    <td>{{ metrics.auto_fuel_high_misses__avg }}</td>
                    <td>{{ metrics.auto_fuel_low_score__avg }}</td>
                    <td>{{ metrics.auto_fuel_low_misses__avg }}</td>
                    <td>{{ metrics.baseline__avg }}</td>
                </tr>
            </tbody>
        </table>
     </div>
</div>

<div class = "row">
    <div class="col-md-12">
        <h2>Tele</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Gears</th>
                    <th scope="col">High Scores</th>
                    <th scope="col">High Misses</th>
                    <th scope="col">Low Scores</th>
                    <th scope="col">Low Misses</th>
                    <th scope="col">Climb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ metrics.tele_gears__avg }}</td>
                    <td>{{ metrics.tele_fuel_high_score__avg }}</td>
                    <td>{{ metrics.tele_fuel_high_misses__avg }}</td>
                    <td>{{ metrics.tele_fuel_low_score__avg }}</td>
                    <td>{{ metrics.tele_fuel_low_misses__avg }}</td>
                    {# http://stackoverflow.com/questions/19588160/multiply-in-django-template #}
                    <td>{% widthratio metrics.rope__avg 1 100  %}%</td>
                </tr>
            </tbody>
        </table>
     </div>
</div>

<div class = "row">
    <div class ="col-md-12">
        <h2>Fouls</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Foul</th>
                    <th scope="row">Tech Foul</th>
                    <th scope="row">Yellow Card</th>
                    <th scope="row">Red Card</th>
                </tr>
                <tr>
                    <td>{{ metrics.foul__sum }}</td>
                    <td>{{ metrics.tech_foul__sum }}</td>
                    <td>{{ metrics.yellow_card__sum }}</td>
                    <td>{{ metrics.red_card__sum }}</td>
            </tbody>
        </table>
    </div>
</div>
{% endblock robot_stats %}


{% block pit_scouting %}

{% include "Scouting2017/pit_scouting.html" %}

{% endblock pit_scouting %}

