<html>
<head>
{% load staticfiles %} 
{% include "BaseScouting/core_head.html" %}
{% include "Scouting2017/standard_header.html" %}
<title> Team {{ team.teamNumber }} </title>
</head>
<style>
table{
margin:auto
}
</style>

<body>

{% include "Scouting2017/banner.html" %}

<h1 style="text-align: center;">Team {{ team.teamNumber }}</h1>

<h2 style="text-align: center;">Match Information</h2>
{% if score_result_list|length == 0 %}
No Matches Scouted
{% else %}


<table border="1">
<th width=100 style="text-align: center;">Match#</th> 
<th width=100 style="text-align: center;">Win?</th> 
<th width=100 style="text-align: center;">Team Mates</th> 
<th width=100 style="text-align: center;">Opponents</th>
		<tr> <td style="text-align: center;">#</td> 
		<td style="text-align: center;">Yes/No</td> 
		<td> <ul> <li>1234</li> 
										  <li>1234</li> </ul> </td> <td> <ul> <li>345</li> 
										  									  <li>345</li> 
										  									  <li>345</li> </ul> </td> </tr>
		

</table>
{% endif %}


<h2 style="text-align: center;">Capabilities</h2>
<h3 style="text-align: center;">Fuel</h3>
<h4 style="text-align: center;">General Statistics</h4>


<ul class="list-group" style="text-align: center; width: 50%;margin-left: auto;margin-right: auto"> 
     <li class="list-group-item"> <u>Overall Fuel Success Rate:</u> </li> 
     <li class="list-group-item">High Success Rate:</li> 
     <li class="list-group-item">Low Success Rate:</li> 
     <li class="list-group-item">High Attempts:</li>
     <li class="list-group-item">Low Attempts:</li> 
</ul>

<h4 style="text-align: center;">Specifics Statistics</h4>
<table border="1" style="text-align: center;">
<th width=100> </th> <th width=150 style="text-align: center;"> High Success Rate </th> <th width=150 style="text-align: center;"> High Attempts </th> <th width=150 style="text-align: center;"> Low Success Rate </th> <th width=150 style="text-align: center;"> Low Attempts </th>
<tr> <td> Auto </td> <td>%</td> <td>#</td> <td>%</td> <td>#</td> </tr>
<tr> <td> Teleop </td> <td>%</td> <td>#</td> <td>%</td> <td>#</td> </tr>
</table>



<h3 style="text-align: center;">Gears</h3>

<table border="1" style="text-align: center;">
<tr> <td width=175>Ground Acquire</td> <td width=125>Yes/No</td> </tr>
<tr> <td>Teleop Success</td> <td>Percentage</td> </tr>
<tr> <td>Autonomous Success</td> <td>Percentage</td> </tr>
</table>

<h2 style="text-align: center;">Fouls</h2>

<table border="1" style="text-align: center;">
<tr> <td width=100>Foul</td> <td width=100>#</td> </tr>
<tr> <td>Tech Foul</td> <td>#</td> </tr>
<tr> <td>Yellow Card</td> <td>Yes/No?</td> </tr>
<tr> <td>Red Card</td> <td>Yes/No?</td> </tr>
</table>

</body>
</html>

