<html>
<head>
{% load staticfiles %} 
{% include "Scouting2017/standard_header.html" %}
<title> Team # </title>
</head>
<body>

<h1 style="text-align: center;">Team #</h1>
<h2 style="text-align: center;">Capabilities</h2>
<h3 style="text-align: center;">Fuel</h3>

<table border="1" style="text-align: center;">
<th></th> <th>High Boiler</th> <th>Low Boiler</th>
<tr> <td>Autonomous</td> <td></td> <td></td> </tr>
<tr> <td>Teleop</td> <td></td> <td></td> </tr>
<tr> <td>Accuracy</td> <td></td> <td></td> </tr>
<tr> <td>Total</td> <td></td> <td></td> </tr>


</table>



{% include "Scouting2017/banner.html" %}
</body>
</html>

