<html>
<head>
{% load staticfiles %} 
{% include "Scouting2017/standard_header.html" %}
<title> Team # </title>
</head>
<style>
table{
margin:auto
}
</style>

<body>

{% include "Scouting2017/banner.html" %}

<h1 style="text-align: center;">Team #</h1>

<h2 style="text-align: center;">Match Information</h2>
<table border="1" style="text-align: center;">
<th>Match#</th><th>Win?</th><th>Team Mates</th><th>Opponents</th>
<tr> <td>#</td> <td>Yes/No</td> <td> <ul> <li>1234</li> 
										  <li>1234</li> </ul> </td> <td> <ul> <li>345</li> 
										  									  <li>345</li> 
										  									  <li>345</li> </ul> </td> </tr>
<tr> <td>#</td> <td>Yes/No</td> <td> <ul> <li>1234</li> 
										  <li>1234</li> </ul> </td> <td> <ul> <li>345</li> 
										  									  <li>345</li> 
										  									  <li>345</li> </ul> </td> </tr>
<tr> <td>#</td> <td>Yes/No</td> <td> <ul> <li>1234</li> 
										  <li>1234</li> </ul> </td> <td> <ul> <li>345</li> 
										  									  <li>345</li> 
										  									  <li>345</li> </ul> </td> </tr>
<tr> <td>#</td> <td>Yes/No</td> <td> <ul> <li>1234</li> 
										  <li>1234</li> </ul> </td> <td> <ul> <li>345</li> 
										  									  <li>345</li> 
										  									  <li>345</li> </ul> </td> </tr>


</table>

<h2 style="text-align: center;">Capabilities</h2>
<h3 style="text-align: center;">Fuel</h3>

<table border="1" style="text-align: center;">
<th> </th><th>High Boiler</th><th>Low Boiler</th>
<tr> <td>Autonomous</td> <td>#</td> <td>#</td> </tr>
<tr> <td>Teleop</td> <td>#</td> <td>#</td> </tr>
<tr> <td>Average Score</td> <td>#</td> <td>#</td> </tr>
<tr> <td>Total</td> <td>#</td> <td>#</td> </tr>
</table>

<h3 style="text-align: center;">Gears</h3>

<table border="1" style="text-align: center;">
<tr> <td>Ground Acquire</td> <td>Yes/No</td> </tr>
<tr> <td>Teleop Success</td> <td>Percentage</td> </tr>
<tr> <td>Autonomous Success</td> <td>Percentage</td> </tr>
</table>

<h2 style="text-align: center;">Fouls</h2>

<table border="1" style="text-align: center;">
<tr> <td>Foul</td> <td>#</td> </tr>
<tr> <td>Tech Foul</td> <td>#</td> </tr>
<tr> <td>Yellow Card</td> <td>Yes/No?</td> </tr>
<tr> <td>Red Card</td> <td>Yes/No?</td> </tr>
</table>

</body>
</html>

