<html>

<head>
{% load staticfiles %}
{% include "Scouting2016/standard_header.html" %}
<title>Drive Train</title>
<style> 
	ul.list-group{
		margin-bottom: 1px;
	}
</style>
</head>

<body>

{% include "Scouting2016/banner.html" %}
<div class="container-fluid">
	<h1> Drive Train </h1>
	  <div class="row">
      <div class="col-md-6">
      	<h2> Mechanical System Information</h2>
			<ul class="list-group">
			          <li class="list-group-item">
			            <b>6 Wheel Tank Drive</b>
			            <ul class="list-group">
			            	<li class="list-group-item">
			            	8 inch pneumatics
			            	</li>
			            </ul>
			          </li>
			          <li class="list-group-item">
			            <b>Skid Plates</b>
			          </li>
			          <li class="list-group-item">
			            <b>Encoders</b>
			          </li>
			          <li class="list-group-item">
			            <b>Chamfers</b>
			          </li>
			          <li class="list-group-item">
			            <b>Plastic Guards</b> 
			          </li>
			        </ul>
		</div>
		<div class="col-md-6">
      	<h2> Ability</h2>
			<ul class="list-group">
			          <li class="list-group-item">
			            <b>Can go over the following defenses:</b>
			            <ul class="list-group">
			            	<li class="list-group-item">
			            	Category B: Moat/Ramparts
			            	</li>
			            	<li class="list-group-item">
			            	Category D: Rock Wall/Rough Terrain
			            	</li>
			            	<li class="list-group-item">
			            	Low Bar
			            	</li>
			            </ul>
			          </li>
			          <li class="list-group-item">
			            <b>Fast and Efficient</b>
			          </li>
			        </ul>
		</div>
		</div>
</div>

</body>
</html>