<html>

<head>
{% load staticfiles %}
{% include "Scouting2016/standard_header.html" %}
<title>Over Roller</title>
</head>

<body>

{% include "Scouting2016/banner.html" %}

<div class="container-fluid">
	<h1> Scaling </h1>
	  <div class="row">
      <div class="col-md-6">
      	<h2> Mechanical System Information</h2>
			<ul class="list-group">
			          <li class="list-group-item">
			            <b>Roller uses 70:1 gear box and VEX-Pro motor</b>
			          </li>
			          <li class="list-group-item">
			            <b>Window motor pivots system in and out of robot perimeter</b>
			          </li>
			          <li class="list-group-item">
			            <b>Maintains minimal form with 14" height when outside of perimeter</b>
			          </li>
			          <li class="list-group-item">
			            <b>Roller driven with sprocket and chain</b>
			          </li>
			          <li class="list-group-item">
			            <b>Structure made from 1/8" aluminum</b> 
			          </li>
			          <li class="list-group-item">
			          	<b>Sprng assists pivot motion</b>
			          </li>
			        </ul>
		</div>
		<div class="col-md-6">
      	<h2> Ability</h2>
			<ul class="list-group">
			          <li class="list-group-item">
			            <b>Able to go over defenses with boulder</b>
			          </li>
			          <li class="list-group-item">
			            <b>Estimate  seconds and 85% accuracy of low goal scoring</b>
			          </li>
			          <li class="list-group-item">
			            <b>Able to assist alliance members with scoring or score independantly</b>
			          </li>
			          <li class="list-group-item">
			            <b>Estimated 2 seconds to harvest boulders from field floor, with 100% accuracy</b>
			          </li>
			        </ul>
		</div>
		</div>
</div>


</body>
</html>